[2018-06-06 15:57] lenasong opened #1 "Pilot Experimental Design"
https://docs.google.com/document/d/1XQXFKScUl9t_bKHFfRMtbtIG9uw0PfOvdD3vHA5zUKA/edit?usp=sharing

[2018-06-06 16:00] lenasong commented on #1
https://docs.google.com/document/d/1XQXFKScUl9t_bKHFfRMtbtIG9uw0PfOvdD3vHA5zUKA/edit?usp=sharing

[2018-06-08 19:02] huntallcott commented on #1
@lenasong , thanks for doing this. This is great. I took a look at what you wrote and have suggested a shortened design for an initial pilot, [here](https://docs.google.com/document/d/1PtNYmkrJFR4o44Mx4Ik_OEp1TZnAsCLN3zyfey_hkeI/edit?usp=sharing) and also linked on dropbox/PhoneAddiction/ExperimentalDesign/.
I refined the questions some and gave additional precision on a possible randomization sch

[2018-06-09 19:13] gentzkow commented on #1
Thanks @lenasong @huntallcott. I made a bunch of comments on @lenasong's original Google doc + 1 comment in @huntallcott's modified Google doc. Let me know if you'd rather I copy those over to the Github thread here.

I definitely like the idea of the simplified pilot. I think it would be good to say for the initial round we will
1. Forget about news / politics
2. Focus only on overall usage not s

[2018-06-11 00:58] lenasong commented on #1
I like the the simplified pilot too. @huntallcott @gentzkow thanks for your comments. I'm going to consolidate these two files in the next couple days and create a new document that either addresses your comments or highlight them again if it requires more thinking. @KellyBuckley thoughts? Feel free to add additional notes in the meantime.

[2018-06-11 15:42] KellyBuckley commented on #1
@lenasong just added comments in the google doc! I haven't set up something like this before so feel free to ignore anything that doesn't make sense :)

[2018-06-13 21:03] lenasong commented on #1
I've updated the simple pilot experimental design [here](https://docs.google.com/document/d/1-0t_pamO4v_4DWMtbz15RWAxaDf5N6h0b2dgSu3bxHM/edit#). From our discussions, there are still a few technical details to confirm and areas to brainstorm (measures of social interaction and productivity) which I've summarized in this [open questions](https://docs.google.com/document/d/1JN-EoCgx4FZLcAk9Wp8bXGrrm

[2018-06-20 18:00] huntallcott commented on #1
@lenasong I am sorry for the delay. Some thoughts are below.
1. First a procedural note: for any kind of files (data, code, notes), I think we should avoid having _v2's. Can you just overwrite my experimental design with your newer experimental design, and click "resolve" for any resolved comments, and then delete the files for your newer experimental design? Then google will keep a version histor

[2018-06-22 06:52] gentzkow commented on #1
Looks great @lenasong. I made a couple of small comments in the [Google doc](https://docs.google.com/document/d/1PtNYmkrJFR4o44Mx4Ik_OEp1TZnAsCLN3zyfey_hkeI/edit#).

One general comment is that the focus on self control in smartphone usage is going to be very very apparent to users, we we'll be especially concerned about demand effects etc.

[2018-06-25 21:38] KellyBuckley commented on #1
I have what is probably a naive question that I'm trying to understand -- maybe this is similar to Matt's point that the focus on smartphone self control is apparent, but the survey to me feels like it is framing phone use as "bad" and face-to-face time as "good" (which I think reinforces general societal ideas about this), and I wonder how that affects the results. For example, for the question "

[2018-06-26 11:40] huntallcott commented on #1
@KellyBuckley I think that this kind of experimenter demand effect / social desirability bias is a serious issue. This is another reason to like "hard" outcomes like transcripts, phone usage, and willingness-to-pay. But I imagine that the plan would be to still have these questions and caveat as you suggest.
If we can think of ways of making the questions sound more neutral that's also great.

[2018-06-27 01:43] lenasong commented on #1
@huntallcott @KellyBuckley @gentzkow Thanks for the comments. They are now either resolved and incorporated into the survey questions or responded to with a follow-up question.

I share the same concern about demand effect. One minor change we could do is moving up the activity journal "How often do you do each of the following?" to the beginning, before our mention of Moment and use of self-contr

[2018-07-02 02:14] lenasong commented on #1
@KellyBuckley thanks for the additional comments.
@gentzkow @huntallcott do you have any other major changes in mind for this pilot version of the survey?

[2018-07-02 06:49] gentzkow commented on #1
@lenasong I don't have any additional comments at this point. The most important issue seems to be the demand effects / framing one; I'd be in favor of your suggestion [here](https://github.com/huntallcott/PhoneAddiction/issues/1#issuecomment-400515967) to move up the time use question; if you and/or @KellyBuckley can see further edits to improve on this (e.g., adding some questions so we are more

[2018-07-02 10:42] KellyBuckley commented on #1
I spent a lot of yesterday thinking about the framing / how to add questions to get a little more nuanced picture of how the phones are used and whether there is substitution between online interaction and face-to-face interaction when phone use is decreased. I went through the Monitoring the Future questions and have used some of them as a starting point. [Here's](https://docs.google.com/document

[2018-07-02 13:56] KellyBuckley commented on #1
@lenasong yes can do. just to clarify, do you want me to all the questions over or just the ones under the "cellphone questions" section?

[2018-07-02 16:56] lenasong commented on #1
thanks @KellyBuckley! Feel free to make all changes.

[2018-07-03 07:00] gentzkow commented on #1
@KellyBuckley, @lenasong These changes are great! I think the pilot looks really good at this point.

I made one small comment in the Google Doc.

Also, can you remind me what we have in mind for the "how many friends have you recruited" question? The design doc [here](https://docs.google.com/document/d/1XQXFKScUl9t_bKHFfRMtbtIG9uw0PfOvdD3vHA5zUKA/edit) notes the idea of having initial recruits in

[2018-07-05 15:41] lenasong commented on #1
@gentzkow I'm not sure how feasible it is to include the friends question for the pilot (need friends who are also on MTurk?) For the actual experiment we could do two or more rounds of subject recruitment with some kind of nominal referral bonus.

@KellyBuckley @huntallcott thoughts? did you have something else in mind for these questions?

[2018-07-06 15:45] huntallcott commented on #1
@gentzkow, we met this morning and made some potentially final revisions to the pilot design. The discussion revolved primarily around simplification and making sure that the survey questions are geared for lessons that will help us to refine and improve the research question. @KellyBuckley will revise the questions and then start to program on Qualtrics for a 50-person pilot sometime soon.
Meetin

[2018-07-06 15:49] KellyBuckley opened #2 "Lit Review"
Review media lit on this type of question, make list of major/common that may not have been tested experimentally

[2018-07-08 16:07] gentzkow commented on #1
These notes look great to me @huntallcott. I"m all for going ahead with the 50 person pilot soon.

[2018-07-11 19:00] KellyBuckley commented on #1
Quick update -- I'm in the process of revising the survey questions in the [google doc](https://docs.google.com/document/d/1PtNYmkrJFR4o44Mx4Ik_OEp1TZnAsCLN3zyfey_hkeI/edit?usp=sharing) based on our discussion. I'm still working on the lit review, which will change some of the questions a little but I think the general idea is there. Feel free to make updates / let me know if anything looks offtra

[2018-07-18 22:03] KellyBuckley commented on #2
I've added the lit review to the dropbox under PhoneAddiction\Literature\CommLitReview -- there are notes with the citations (not perfectly formatted) and the review. It's mainly drawn from the communications and media studies literature with some psychology. I outline some of my general thoughts in it based on what I read, but I'm sure they aren't perfectly thought out so I'd be happy to discuss.

[2018-07-19 22:12] gentzkow commented on #2
Thanks @KellyBuckley. This is helpful.

What I didn't get a clear sense of from the review is exactly what kinds of empirical + experimental evidence exist on the effects of smartphone use, whether people are addicted, etc. I wonder if it might be helpful to divide things by methodology -- e.g., surveys asking peoples' subjective assessments directly, analysis of cross-sectional or longitudinal co

[2018-07-20 16:06] KellyBuckley commented on #2
@gentzkow makes sense, yes I can work on that, I think it would be helpful.

[2018-08-02 17:32] KellyBuckley commented on #2
Wanted to update that I haven't forgotten about this, have just been busy with other projects, but will try and get to it soon

[2018-08-02 20:04] lenasong commented on #1
The [latest version](https://docs.google.com/document/d/1PtNYmkrJFR4o44Mx4Ik_OEp1TZnAsCLN3zyfey_hkeI/edit#heading=h.jfklu515tbig) of survey questions look good. Here are some next steps:

1. Program the questions in Qualtrics - @KellyBuckley have you had a chance to get started on this?
2. Test feasibility of data exporting on Screen Time now, and then when available Dashboard (Google said in late

[2018-08-03 14:09] KellyBuckley commented on #1
@lenasong I haven't started putting questions in Qualtrics yet. I can start on that next week. I'd like to take one more pass through the survey questions this weekend.

[2018-08-06 16:32] huntallcott commented on #1
Hi @lenasong @KellyBuckley @gentzkow ,
Getting caught up on this, including re-reading Lena's email from last week following up on the NY Times article. @lenasong thanks for sending that, and @KellyBuckley thanks for your work on the lit review last month.
I've also talked with a few people about this, including the LSE media studies professor Sonia Livingstone (through Nancy at MSR), Keith Chen,

[2018-08-07 22:14] KellyBuckley opened #3 "Well-being survey questions"
The well-being questions we have now are somewhat randomly pulled from the Monitoring the Future study. Realized working on the facebook project, though, that for well-being scales to actually measure something you need to do the complete scale. It seems worth figuring out what aspects of well-being we care about and using the standard scales. I've created a [google doc](https://docs.google.com/do

[2018-08-08 02:37] huntallcott commented on #1
@lenasong -
Great, thanks. This highlights a couple of things that I feel like we don't know but would like to know.
I wonder if you could start new issue threads to report back on the following things:
1. Measuring location.
* Deliverable is a google doc with more technical detail on if/how we can measure locations over time, either through our own app or through SafeGraph. (@gentzkow is that wha

[2018-08-08 16:26] gentzkow commented on #1
Thanks all.

I am fine with exploring recruitment at universities. I agree about the advantages, and we always have the option to expand to other samples later.

On GPS: Safegraph is indeed what we have at Stanford. It is anonymous -- all you know for a given device is its sequence of GPS pings, nothing else, and the sample is too small to have much chance of finding our participants in the data e

[2018-08-08 16:38] KellyBuckley commented on #2
I've added PhoneAddiction\Literature\CommLitReview\lit_review_by_methodology.docx to the dropbox. This is just a broad overview of the papers I looked at sorted into what type of investigation they did. Since I was primarily looking at media studies/communication/psychology, there aren't any randomized experiments.

I think we still want to pull this together with the other lit review docs in the

[2018-08-09 00:15] lenasong commented on #1
@huntallcott @KellyBuckley @gentzkow thanks for the input. I'll start two new threads on data collection/retrieval and sample recruitment and corresponding google docs.

[2018-08-09 02:42] lenasong opened #4 "Data Collection"
https://docs.google.com/document/d/18vOEnNFHWe3X0srM4KOSBff9nrUhzOL5X2Cxj58UJas/edit?usp=sharing

[2018-08-09 02:43] lenasong opened #5 "Sample Recruitment"
https://docs.google.com/document/d/1OXo6h8uTi2DV4_s3j9tXZ-C3e4WaX2Yzqj0AojW-d_E/edit?usp=sharing

[2018-08-09 03:10] lenasong commented on #4
I've started jotting down some of the functions we are looking for in the Google doc above. @KellyBuckley, would be great if we can consult someone at Microsoft and actually test things out.
@gentzkow @huntallcott let us know if you have any other good developer candidates in mind for programming this.

[2018-08-13 15:11] lenasong commented on #4
@KellyBuckley @gentzkow @huntallcott I had a quick call with a developer at Google about what we are looking for and its technical feasibility with meeting notes added [here](https://docs.google.com/document/d/18vOEnNFHWe3X0srM4KOSBff9nrUhzOL5X2Cxj58UJas/edit?usp=sharing).

**Key takeaways:**
-Precise and frequent GPS tracking is difficult and battery-draining, but tracking subjects at a few locat

[2018-08-14 02:06] huntallcott commented on #4
Great thanks @lenasong .
1. I'm souring on the GPS. My guess is that a big part of the location substitution, if any, would be going to friends' dorm rooms. If we don't have precise locations, we won't see that. Minor question though: do you know if we can get geofence data when people *leave* their home, not just when they arrive? Seems like our only hope would be to keep track of total time at h

[2018-08-14 02:11] huntallcott commented on #5
@lenasong here are two more ideas:
1. how geographically targeted are google ads? I wonder if we could post google ads for a few universities only in the areas where their students live. This to me is probably slightly better than Facebook because it's not selected toward social media users and because I think few people use Facebook anyway? But both are worth considering.
2. it might be worth tal

[2018-08-14 11:46] KellyBuckley commented on #4
I talked with someone at Microsoft who said there are interns using test phones but they will be available 8/24 (when the interns leave). I haven't found anyone yet who does mobile development.

[2018-08-14 15:40] lenasong commented on #4
some quick replies for questions from @huntallcott:
1. with geofencing we can get both entering and leaving fixed locations
2. for dashboard on android, what I've heard is that the system app keeps the entire history since the start of using the app. Will have to check for ios when we find a developer to write a script and test things out
3. agreed

[2018-08-15 14:31] KellyBuckley commented on #4
I emailed with a developer from Microsoft who said:
"On iOS, I looked quickly at the documentation and did not see any mention of a public API for reading screen time information. I have found that Apple only exposes user data to an app when it’s absolutely necessary,  I am not surprised by the lack of API."

When I asked where the documentation he referenced was he said:
"I didn’t find any docume

[2018-08-21 16:32] lenasong commented on #4
@KellyBuckley what kind of test phones does microsoft have?

The digital wellbeing app is now available for testing on pixel devices  - https://www.android.com/versions/pie-9-0/digital-wellbeing-beta/

Any luck finding a developer at Microsoft for either ios or android? We don't necessarily need someone with app development experience - they just need to know how to access and retrieve data from a

[2018-08-21 17:40] KellyBuckley commented on #4
@lenasong the phones are just normal phones that aren't hooked up to a data/phone plan. I will be able to see what's available Monday after the interns leave.

I realized I wasn't clear earlier about the developer -- I was looking for a mobile dev to ask advice from, not to build an app (we can't ask anyone at Microsoft to build an app since they have to work on whatever their team does, except fo

[2018-08-21 20:52] lenasong commented on #4
@KellyBuckley thanks for checking. I agree with the developer's note on iOS - exporting could work only if Apple releases the public API for Screen Time later, but we can't count on it.

Is it possible to arrange a conversation with the digital well-being team at Apple? @huntallcott @gentzkow
Things would be much easier if Apple can help us with either of these:
1) add an exporting function to the

[2018-08-21 20:58] gentzkow commented on #4
Hi @lenasong,

We've talked to the teams at both Apple and Google. Both were very clear that there are no plans to expose the content of the apps in a way that other apps can access. I think we would have to work with screenshots.

[2018-08-27 17:17] lenasong commented on #4
I double checked with developers at Google. It's true we cannot use APIs and access the system app directly. They suggested a workaround (that's available on Android, need to double check for iOS): https://developer.android.com/studio/debug/device-file-explorer.

@KellyBuckley can you help look into this with the test phones?

[2018-08-27 18:38] lenasong commented on #5
@huntallcott Google ads are geographically targeted. It allows business to specify "countries, areas within a country, a radius around a location, or location groups, which can include places of interest, your business locations, or tiered demographics." A bulk list of up to 1000 location targets can be added at a time.

In terms of recruiting from labs, I've spoken to the lab managers at NYU CESS

[2018-08-27 18:42] KellyBuckley commented on #4
@lenasong I've emailed the contact I have here about getting the phones, but haven't heard back yet. Will let you know when I do.

[2018-08-28 02:12] huntallcott commented on #4
@lenasong @KellyBuckley thanks for this work.
It seems clear to me that we need to bring on a developer that can work with us to develop screenshot capability and/or advise/develop tools for using the system apps for export if possible. I have emailed Shehnaz at Stanford and cc'd Matt and Lena.

[2018-08-28 02:47] huntallcott commented on #5
Thanks @lenasong for gathering this information.

Here's my vote:
*Pilot*: I think we'd ideally pilot at NYU, where we have a chance to talk with the students and see them in person as needed. Can you check: does NYU CESS require IRB for a pilot study, where by "pilot" I mean we commit to never using the data for a paper? If so, then yes please get a pilot IRB app in, for up to 500 students (upper

[2018-08-28 13:46] gentzkow commented on #5
Thanks @huntallcott.

Sorry if I missed this in another thread, but why would we focus on Google ads? I would have thought using ads on Instagram or maybe FB would make more sense.

[2018-08-28 13:50] huntallcott commented on #5
My logic was that we want a representative sample with respect to the treatment effect of phone use restrictions, and the types of people who hang out on FB or Instagram would have sample selection bias.
Do you disagree?

[2018-08-28 13:57] gentzkow commented on #5
Well, I would have thought none of these samples is going to be truly representative, since they will all be filtered through who clicks on the ad. I'd think we would be fine knowing our treatment effects are local to young people who use social media at least a moderate amount.

One drawback of Google is that targeting will be much noisier / coarser. A second is that for Google *search* ads it's

[2018-08-28 14:38] huntallcott commented on #5
Yes to google display ads, not search ads.
FB/Instagram ads are OK with me, then.
My guess is that in the end there is a difference in cost per valid complete from the two sources, based on different prices, targeting, etc. If the group has a strong prior that google vs. FB/Instagram is cheaper, then great. If not, I would favor experimenting with both google and FB/Instagram and then using both i

[2018-08-28 14:57] KellyBuckley commented on #5
@huntallcott a couple questions
- When you say experiment on FB/Instagram/Google ads do you mean a) run fake ads now to see price, b) just check cost info they have on the websites, c) try all variations for pilot?

Based on the info @lenasong has in the google doc I was wondering the following about transcripts:
- Does it matter if they are official or unofficial?
- Does it matter if they are pap

[2018-08-28 16:02] gentzkow commented on #5
Great. I'm definitely fine experimenting w/ Google as well as FB /
Instagram.

[2018-08-28 16:42] lenasong commented on #5
Pilot: yes an IRB is needed whenever we use the subject pool from CESS. Do we have a strong preference for in-person experiment? Should we try out how effective Facebook/google ads are in recruiting students? We could target NYU and see them in person if necessary.

Full experiment:

- transcript:
I've spoken to NYU registrar's office and National Student Clearinghouse (notes [here](https://docs.g

[2018-08-28 17:07] lenasong commented on #4
@huntallcott @KellyBuckley @gentzkow
I've spoken to a couple more android and iOS developers and their impression is that we'll need a team of developers to make something robust under our time constraints. The export option available on android is unlikely to be available on iOS.

Are we thinking about developing our own version of the Moment app then?

One additional question is how do we show c

[2018-08-28 18:13] KellyBuckley commented on #4
@lenasong I agree with the developers that building a new Moment app would be super hard. I was thinking we'd want something at the level of an app that sends you reminders to take screen shots of Moment or the built in apps and maybe even collects those screen shots and bulk sends them to us. (Although I'm not sure who inputs the data from thousands of screen shots.)

[2018-08-28 18:50] huntallcott commented on #5
Great.
1. @KellyBuckley can you help @lenasong as needed and continue to let me know if you want to bring in Raj/Michael?
2. IRB: Let's apply for the full experiment now, with a sentence clarifying that we'll want to do a pilot that has the same idea on a compressed timeframe. I don't think that will be any harder, and then we'll have it out of the way.
3. Recruitment. Here's what I'd suggest to t

[2018-08-28 18:54] huntallcott commented on #4
Agree with Kelly; I don't think we need a full app. We just need the ability to export data and/or take a screenshot. Let's start with one developer for now?

[2018-08-28 19:03] KellyBuckley commented on #5
@huntallcott
1. Yes happy to help (may need help when the main FB experiment starts depending on how time consuming that is). @lenasong I can help with IRB app and figuring out about transcripts.
4. The FB experiment doesn't have a raffle right now that I'm aware of, but I think we can figure out how to do it
5. At least at Brown, I could get my unofficial transcript for free online. This is what

[2018-08-28 19:05] huntallcott commented on #5
I meant to pay people using the same payment approach that we use for FB experiment. Sorry for confusion.
And for the transcript we need to get permission at baseline so that there is no attrition.

[2018-08-28 19:07] KellyBuckley commented on #5
For the transcript scenario I described, they would have to actually get the transcript (not us). Do you want to rule out cases where they have to get it (even if it is free and a simple online task)?

[2018-08-28 19:13] huntallcott commented on #5
Any time we have the opportunity for a zero-attrition outcome, we should take it. So we should focus on schools where we can get 100% of transcripts even if a student flakes on us. I think that this will mean that students will pre-authorize our future transcript request.

[2018-08-28 19:17] KellyBuckley opened #6 "Determine how to get transcripts"

[2018-08-28 19:18] KellyBuckley commented on #5
@huntallcott got it makes sense. I added #6 to continue this task.

[2018-08-28 19:18] KellyBuckley commented on #6
@lenasong If you can create a list of the schools we're interested in I can start looking into transcripts

[2018-08-29 08:41] gentzkow commented on #4
Definitely. I continue to think we're likely to end up with wanting to do screenshots. I'm not sure we need an app at all. As @lenasong says, getting people to install our app would be an additional hurdle and I think we could do reminders pretty well via text messages.

We should remember that there are still issues to think through with screenshots:
* Can people game by editing the screenshot di

[2018-08-29 17:54] lenasong commented on #4
Great. The answers to these should be clearer once we play around with the beta versions of the apps on test phones - one of the developers I talked to mentioned that running OCR on these screenshots shouldn't be too difficult. I'll get started on looking for mobile developers on Upwork.

@huntallcott @gentzkow Do you already have an account there that we can use? If not I'm going to post the job

[2018-08-29 18:07] huntallcott commented on #4
I'd just use a new account. Thanks.

[2018-08-29 18:12] KellyBuckley commented on #4
@lenasong feel free to send me a draft or let me know if you have questions

[2018-08-29 23:29] lenasong commented on #5
I've started filling out a NYU IRB application for the full experiment.

@KellyBuckley can you start coding the baseline survey into Qualtrics? We need a link to the survey for the application. Let me know if you need help with shortening it.

[2018-08-30 01:14] huntallcott commented on #5
@lenasong @KellyBuckley I suggest keeping the Qualtrics survey short and sweet for now to save time. We just want IRB cover to do a pilot. We will definitely modify later.

[2018-08-30 14:14] KellyBuckley commented on #5
@lenasong @huntallcott yes will work on a shortened version in Qualtrics

[2018-08-31 15:10] lenasong commented on #4
I've drafted a job posting on upwork, with the content in pdf [here](https://drive.google.com/file/d/1T8fCgQ3JrquNm2LCYpnxHbOnt1e1p_uT/view?usp=sharing).

Couple of questions and comments:
- Total compensation is set at 5k for the entire project for now. Let me know if you think another rate is more appropriate
- I'm leaving GPS tracking such as geofencing out since that would require us building

[2018-08-31 19:05] KellyBuckley commented on #4
@lenasong just updated the description on the Upwork website. I took out the part about the server since I don't actually think we'll be building our own (I would guess storage will still be on something like dropbox and processing will happen on their computer or we would get a VM).

Here's the description now (I didn't change other things in the pdf):

We are a team of researchers at New York Un

[2018-09-03 00:10] huntallcott commented on #4
All looks great. One question -- we're paying by the hour, yes? Not $5k flat? It seems like we don't know much about the total number of hours yet. Just checking on your thinking. Many thanks.

[2018-09-03 22:15] huntallcott commented on #4
Just talked with @gentzkow. He wants to emphasize that his conversations have been pretty clear that it will be difficult to extract the data via any computerized way other than screenshots. Furthermore, we can process the screenshots ourselves without tech help from Upwork.
The upshot is that we should not hire somebody from Upwork.
I am sorry that I didn't process this info earlier.

What we do

[2018-09-04 01:14] KellyBuckley commented on #4
@huntallcott I heard back from the guy in the Garage who has the phones and he has one Android phone we can borrow but no iPhones. I am working from Redmond until Wednesday and will be back in the office Thursday to check it out and see if it's possible to get the software on it. Do you think it would be worth purchasing an iPhone from somewhere? Or do any of you know someone who has an old one la

[2018-09-06 19:13] KellyBuckley commented on #6
Given the difficulty of getting schools to answer this question, I don't have time to go through all 12 universities. @huntallcott does it seem important to get definitive answers from all 12 schools and if so should I pull in another RA to help?

[2018-09-06 19:16] KellyBuckley commented on #4
@huntallcott @gentzkow Lena confirmed that the Android phone I borrowed from Microsoft will not run the new OS (she has the same phone). Like I said in the meeting, when the official (i.e. non-beta) OS is released for Apple I can download it on my phone.

[2018-09-06 21:29] huntallcott commented on #4
@KellyBuckley thanks for looking at that.
Incidentally - I think @gentzkow's sleuthing during the meeting suggested that with the new iOS features, we would take weekly screenshots, and probably no possibility of monthly. If we are planning to do weekly screenshots of app-specific usage, iOS of course already has that ability. So it seems like we can be essentially full steam ahead now.

[2018-09-06 23:10] lenasong commented on #6
What I got from phone calls with NYU transcripts team is that there isn't one fixed form and some kind of consent to disclosure information would suffice. I already emailed them to double check and get this in writing.

[2018-09-10 18:43] lenasong commented on #6
I reached out to NYU last week to get a written confirmation but they are now going back on their words and doing further checks. Will let you know when I hear back.

Seems like third-party request is something they are hesitant to do. @KellyBuckley would be good to get a sense of the situation at other places.

[2018-09-10 19:41] lenasong opened #8 "IRB Application"
I've finished a first draft of the NYU IRB application. The draft as well as other relevant paperwork are all under Dropbox\PhoneAddiction\IRB. @huntallcott @KellyBuckley I've added you as NYU investigators - feel free to edit directly on cayuse.

There are several issues that came up and here are some answers @KellyBuckley and I have come up with. Would love to hear what you think and will open u

[2018-09-10 21:34] KellyBuckley commented on #6
Talked with someone at the Northeastern transcript office who gave me the email of a specific person to contact. Sent her an email, will try another school if I don't hear anything.

[2018-09-10 22:17] KellyBuckley commented on #8
@lenasong I talked with someone from qualtrics who said individual uploads cannot exceed 100MB but there is no limit on how many you can upload. I added a screenshot of the chat under dropbox -> Notes -> Qualtrics_chat.JPG

[2018-09-10 23:39] huntallcott commented on #8
@lenasong @KellyBuckley , great and great!
On @lenasong's post:
1.	Very cool re: qualtrics photo uploads.
2.	I still think we want to keep the pilot short, so I’m happy with one week between each survey. Proposed timeline sounds good.
3.	One principle is to keep the IRB flexible so that we don’t have to go back and forth with IRB too many times. So what if we say “approximately 4-8 months” in the

[2018-09-11 13:13] KellyBuckley commented on #8
Here's my feedback on the IRB application:
- You estimate that weekly screenshots take 5-10 min, was just wondering what the rational was behind this amount of time? I would have guessed it would take about a minute
- Your criteria for inclusion don't include that the person must be a sophomore or junior in undergrad, do you want to include that?
- You have that consent will be obtained in Qualtri

[2018-09-11 13:41] KellyBuckley commented on #8
I also added phone_baseline_survey.pdf to dropbox -> IRB folder. @lenasong @huntallcott @gentzkow let me know if you want to add or remove any questions for the pilot. The WTA and phone verification parts aren't fully coded yet but (i.e. you can't actually get a verification SMS right now and there is no random selection into treatment) but should be ok for IRB.

[2018-09-11 20:12] lenasong commented on #8
@huntallcott @KellyBuckley Thanks for comments! I've updated the application with your feedback and will submit the first draft soon.

@huntallcott to clarify on the length of the pilot - should we do 2 weeks in total or 3 weeks (with 2 weeks between Survey 2 and 3)? The longer pilot will allow us to see whether screenshots will be submitted in the week without any survey/payments.

For the more s

[2018-09-12 11:46] huntallcott commented on #8
@lenasong thanks for getting this app in to NYU, and @KellyBuckley thanks for your work on it as well.
@lenasong I am happy for 2 weeks between 2 and 3; that sounds like a smart idea. Thanks.

[2018-09-13 15:55] lenasong commented on #6
Here is the response I received from NYU:

This is the form being referred to: https://www.nyu.edu/registrar/transcript-form.html. Note that this form does not send the request directly to the registrar's office; it only generates the signature page which the student has to then email/mail. The registrar's office is saying that batch processing is possible if we obtain these signed forms.

So I se

[2018-09-13 17:37] huntallcott commented on #6
Thanks.
Both options seem good; I'd lean toward the second one.
Remind me: does the NYU transcript request cost money, and could we get a volume discount if we eventually asked for a few hundred?

[2018-09-14 16:43] lenasong commented on #6
@huntallcott In the NYU case there is no cost for these requests. I double checked and they only offer mailing of physical copies of official transcripts (no third-party e-transcript option).

[2018-09-15 14:02] huntallcott commented on #4
@lenasong ,
I hope you're well. Would you be willing to *very quickly* accelerate the testing of this particular ability to upload screenshots of iOS time usage from the past week on the battery screen?
It seems like the next step for our project. I also have a highly time-sensitive reason for this capability on another project.

So what I'd propose is to:
1. Develop a very short qualtrics survey

[2018-09-15 14:27] lenasong commented on #4
@huntallcott no problem - I can draft the Qualtrics survey this weekend. It would be great if you can connect me with Raj.

iOS 12 is available on Monday and is compatible with almost all devices. Should we try Screen Time or stick with the battery screen?

[2018-09-15 14:36] huntallcott commented on #4
Re: screen time vs. battery, I think we want to balance:
1. How good is the functionality
2. How many people will have iOS 12? For our eventual pilot and for this other project, I imagine wanting to get actual data in say 10 days. And especially for this pre-survey you're doing early next week I'm not sure how many people will have iOS 12, and presumably nobody will have historical data.

[2018-09-15 14:36] huntallcott commented on #4
And thank you @lenasong for accelerating this!

[2018-09-16 22:10] lenasong commented on #4
Here's a [preview ](https://nyu.ca1.qualtrics.com/jfe/preview/SV_1zPT2HUFISdmxq5?Q_SurveyVersionID=current&Q_CHL=preview) to the survey.

Note that the screenshot upload question asks for last 7 days (instead of last 24 hours) and payment specifies that we will send a follow-up email with e-gift card.

Let me know how it looks.

[2018-09-17 00:58] huntallcott commented on #4
Thanks Lena!
This looks like a good start.

A couple of thoughts:
1. I'd change the first question to: "This study will take approximately 3-5 minutes to complete. We’ll ask you a couple of basic questions and then guide you through the process to upload a screen shot from your phone. We'll give you a $2 gift card when you finish. Are you willing to participate?" The reason is that I think this wi

[2018-09-17 16:44] lenasong commented on #4
Here's the [survey ](https://nyu.ca1.qualtrics.com/jfe/preview/SV_1zPT2HUFISdmxq5?Q_SurveyVersionID=current&Q_CHL=preview)with revised instructions. Also added a quota for 120 responses who meets validation questions (willing to take survey and has an iPhone). Including a few extra in case screenshots are not captured properly.

I've changed the wording for timing of payment to immediately after c

[2018-09-17 18:04] huntallcott commented on #4
@lenasong! This looks great.
In the snap below, I see a weird font in the first paragraph and a missing word in 7, i.e. I think it should say "Upload screenshots to the survey."
Other than that I'm pretty happy with this.

One other thing to consider: is there a way to gather info on how/why people are failing? e.g. somewhere on the upload screen, perhaps on the bottom, we have another optional bo

[2018-09-17 19:38] lenasong commented on #4
@huntallcott thanks for the feedback. I've made the proposed changes and will test out data collection for incomplete surveys. The fastest option for a partial answer to be available is 4 hours after the start of the survey - I've submitted a couple and will let you know how well this works.

[2018-09-18 19:09] lenasong commented on #4
Finalizing payment details with Luca now and will send out the survey soon.

To avoid payment to invalid responses, we are going to promise participants payments at end of the study in a week, instead of immediate, automatic payment.

@KellyBuckley can you help with validating uploads as they come in? I'll provide more details over email.

[2018-09-18 19:29] lenasong commented on #6
Transcript requests at NYU can be sent directly to Paige Levesque at pel3@nyu.edu

[2018-09-18 19:31] KellyBuckley commented on #4
@lenasong I can help some, but I am a little short on time trying to finish stuff to get the facebook project off the ground next week, so if it's a lot let me know and we can maybe pull in Raj

[2018-09-18 19:33] KellyBuckley commented on #6
Northeastern update -- I emailed the person again yesterday, and she actually responded that it might be possible to get the transcripts in bulk if we have consent forms. She said she'd call me today but haven't heard from her yet.

[2018-09-20 11:31] huntallcott commented on #4
@lenasong ,
Thanks for your great efforts in making this happen.
Is there a way you could provide results by later today?
Matt and I have a meeting tomorrow morning and would really benefit from being able to digest the results before-hand.
Thanks again.

[2018-09-20 11:40] lenasong commented on #4
@huntallcott When do you need the results by? Raj and Kelly are helping out looking at the screenshots this afternoon and I should be able to provide an analysis summary by early evening our time.

[2018-09-20 12:02] huntallcott commented on #4
Early evening would be fine. Thanks to all of you.

[2018-09-21 00:21] lenasong commented on #4
See attached for a summary from our short survey [here](https://drive.google.com/file/d/1uTw2Nx-IzNCxSZ5YrrZW0fJGCtn5Vi9g/view?usp=sharing).

Let me know if you have any comments/questions.

[2018-09-21 02:03] huntallcott commented on #4
@lenasong , this is tremendous, thanks for pulling this off.
Just so I'm totally clear, what is the bottom line? It looks like there were 179 people who had iPhones and finished the daily minutes question. Then of those 179, 122 uploaded something. Of those, 44 did it perfectly, and maybe some share of the rest could do it perfectly with practice and/or coaching and/or perfect instructions.
Does t

[2018-09-21 02:32] lenasong commented on #4
@huntallcott yes exactly. In fact, out of those who uploaded something incorrectly, more than half of them missed the instruction to click to show hours. From the few screenshots I see of Screen Time, that doesn't seem to be a relevant issue on iOS 12.

[2018-09-26 03:28] lenasong opened #9 "Participant Payments"
For the short survey I paid participants using Amazon gift card. Rewards Genius seems ideal for the full experiment since it presents a range of options participants can choose from and we can collect data on whether the rewards are claimed and what cards they choose. I'm indifferent between these two options for the pilot and will go with whatever is easier to set up (depends on our sample size)

[2018-09-26 03:36] lenasong commented on #6
I've confirmed the NYU can process transcripts request in batch with collected consent forms at any point in the future.

How do we process these forms? When and where should we have them mailed? These need to be specified by our participants in the consent form.

For the full experiment, we need to check whether schools in our sample allow similar third-party transcript request.

[2018-09-26 03:44] lenasong opened #10 "Screenshot Processing"
I don't see a way to validate screenshots in Qualtrics other than making sure the file uploaded is a photo.

@gentzkow can we get the image processing team from India to help on validating the screenshots every week and digitizing them for the pilot?

Note that the information on Screen Time is a lot richer than battery usage screen, and part of it is in bar graph form (breakdown of app usage on e

[2018-09-26 03:46] lenasong commented on #1
@huntallcott and I talked this afternoon to discuss our next steps. To get everyone on the same page, here's our timeline and components we need to work on in preparations for the pilot.

**Timeline:**
Launch the full experiment by November, start our 3-week piloting next week:
- Day 1: baseline survey
- End of week 1: midline survey including randomization
- Week 2: screenshot upload survey only

[2018-09-26 03:54] lenasong commented on #5
The plan for the pilot is to recruit NYU students through Facebook/Google ads/other online platforms.

@rajbhargava can you help on setting these up? This will be slightly different from our short survey as we will need to recruit NYU sophomores/juniors so the ads will have to be more targeted. I have drafted text that you can use saved under our Dropbox (let me know if you need access).

I took a

[2018-09-26 12:21] huntallcott commented on #1
@lenasong thanks for getting this going.
#### Data collection / Additional testing before pilot
I don't think we need file upload per se. What I thought we wanted was the ability for us to send an SMS as a prompt to take the screenshot, and for people to then respond to us with pictures. Can you double-check that Qualtrics doesn't allow this?
Another option is to set up our own SMS number that can

[2018-09-26 12:29] huntallcott commented on #5
@lenasong thanks.
1. What do you mean that Instagram ads "require a Facebook page"? We can set up a FB page for our experiment if that's what you mean.
2. I think we ease into the pilots. Would be happy to start with 50 baseline completes + friends and see how well the snowball sampling works. Then we can phase in another pilot the next week with another 50/100. I think the intuition is the academ

[2018-09-26 12:35] huntallcott commented on #9
@lenasong I think that this scheme is a good way to start and these numbers are also a good place to start.
In the pilot we will get a sense of the distribution of WTA. Using that information we can figure out more about whether an average of $30 is enough/too much/etc.
One thing: can you review the questions in the pilot and see if you think you have the best possible questions for predicting WTA

[2018-09-26 15:33] KellyBuckley commented on #1
@lenasong @huntallcott In regards to uploading screenshots via text: I had looked into this and found that you cannot directly respond to the text with a photo (like you could with a well-being text asking for a number or something) but you can text people a link to the survey (via Qualtrics), when clicked in the text it opens the survey in a browser on their phone, and they can directly add the s

[2018-09-26 15:36] KellyBuckley commented on #1
@lenasong for the transcript upload question, are we asking them to download a consent form that they print, sign, and upload? Or do we have the consent form embedded and they use a digital signature?

[2018-09-26 18:40] lenasong commented on #1
The response I received from Qualtrics support echos what @KellyBuckley said.

I looked into textmagic, but unfortunately it is not possible to receive images since it is a SMS service (text only). I've also took a quick look at bulk MMS services (multimedia), but only saw marketing platforms and haven't found anything that fits our purposes.

Great point raised by @huntallcott on the device parti

[2018-09-26 18:45] lenasong commented on #5
@huntallcott that's what I meant. Sounds good.

[2018-09-26 18:58] rajbhargava commented on #5
@lenasong doubtful that fb/instagram will be a good way to recruit university students, and a quick look at fb ads shows that you cannot target NYU students (although some other universities can be targeted).

[2018-09-26 19:21] lenasong commented on #5
@rajbhargava Can you elaborate a bit more on what you mean?

Re: targeting on FB - there should be an option on Facebook to target by school and year of matriculation. Can we target by likes or association with groups?

[2018-09-26 19:54] rajbhargava commented on #5
@lenasong

Yes, so you can target e.g. people who are interested in NYU, but this is ~10.5M people. You cannot target people who listed NYU as a school they attended, but you can target e.g. people who listed Columbia or Stanford GSB as a school they attended.

I suppose in theory we could try a combination of interest + location + age, but no way of knowing how likely this is to actually target a

[2018-09-26 21:52] lenasong commented on #5
completely agree with your comment on the general approach @rajbhargava. We did think and explore other options while coming up with this design, but for feasibility of scaling-up to colleges across the country here is what we have for now. I share the same doubts and let's see what happens with the pilot and whether our priors could be overturned :) Also would love to hear any other ideas you may

[2018-09-26 22:15] KellyBuckley commented on #1
@lenasong adding a question for participants to draw their signature looks easy, but programatically adding the image of the signature to the pdf looks like it would require some time to figure out how to code. Would it not be sufficient for NYU to see all the signature images and the Qualtrics question text that the signature was below (which could be the same as on the form)?

[2018-09-26 23:31] lenasong commented on #1
@KellyBuckley I was told that any other forms will require additional approval from the office (right now I'm in touch with one person from the registrar's office, who can directly process our request without additional checks). I can see they would be hesitant to accept an aggregate excel file + zip file of signatures.

Nonetheless, I could definitely check with them whether we could send in an e

[2018-09-27 00:44] gentzkow commented on #10
Hi @lenasong. There are a couple of options.

1. In the past, we have worked with firms like [Hi-Tech](https://www.hitechos.com/) that provide business outsourcing services. Once upon a time they were quite inexpensive and high quality. I haven't worked with any of these companies for a while and so I don't have a good sense of which specific companies / countries are best at this point. If we wen

[2018-09-27 19:59] KellyBuckley commented on #6
Finally had a conversation with the person at Northeastern. She confirmed that we can get up to 100 unofficial transcripts from there if we get signed consent forms and send them directly to her.

[2018-09-27 21:33] huntallcott commented on #6
@KellyBuckley, thank you. And just to confirm, we can get these transcripts IN THE SPRING even if the signed consent forms were signed IN THE FALL? Just wanted to double check.
After this let's pause on this issue, as I think I'm satisfied that we have proof-of-concept.

[2018-09-27 21:36] KellyBuckley commented on #1
Ok I've added the text about updating to iOS 12 to the recruitment survey. I also re-formatted the WTA questions in the baseline survey. And I added Hunt and Raj to both surveys.

I also added the digital signature question to the baseline survey and tested it out. Qualtrics cannot generate a report that looks like the NYU form, they can just collect the signature images. It seems like it might be

[2018-09-27 21:37] KellyBuckley commented on #6
@huntallcott I made it clear that there would be a gap between collecting the forms and getting the transcripts and she was ok with that. I can confirm specifically fall -> spring.

[2018-09-28 00:18] lenasong commented on #6
@KellyBuckley what does the consent form look like? i.e. is it also an online form to be filled out or it requires printing and scanning by the student?

[2018-09-28 11:53] KellyBuckley commented on #6
@lenasong she said we'd have to create our own consent form. I would get it approved by her before we send it out.

[2018-09-28 11:58] KellyBuckley commented on #1
@lenasong looks like an interesting piece of software -- our computers here don't have Adobe Acrobat though so we can't run it, but maybe NYU labs have it installed? (I'd also note that it's $149 on top of having Adobe Acrobat)

[2018-10-01 16:10] lenasong commented on #5
Hi @rajbhargava, how's the recruitment set-up going? Here are the [consent form](https://www.dropbox.com/s/ek8vt7dzznrn4gn/Consent%20Form.docx?dl=0) and [recruitment materials](https://www.dropbox.com/s/jir9h3u1nvygx3g/Recruitment%20materials.docx?dl=0) I've drafted for IRB purposes, in case you find them useful.

[2018-10-01 18:56] rajbhargava commented on #5
@lenasong Thanks, I'm going to start drafting FB/IG ads now. Quick question re: Google ads - Hunt mentioned you were working on those/had those set up? Wondering if you have experience with that or if I should start looking into Google ads from scratch as well.

[2018-10-01 19:41] lenasong commented on #5
@rajbhargava I took a look when I was researching different methods of recruitment and noted that [target geographic locations](https://support.google.com/google-ads/answer/1722043?hl=en) would be useful for our purposes. Now you know as much as I do.

[2018-10-01 20:04] lenasong opened #11 "Minimize Gaming"
I'm starting this thread for us to jot down ideas related to gaming that we have discussed previously. This includes users taking screenshot at an earlier time and more sophisticated editing of screenshots.

[2018-10-01 20:42] rajbhargava commented on #5
@lenasong Thanks! Do you have a link to the consent form/survey (or whatever we want the ads to redirect to?

[2018-10-01 20:46] lenasong commented on #11
I've noticed that the files we download from Qualtrics do not show the original time at which the images are created, and instead shows the time we download these files.

This is similarly true for other options I've looked into, including received text messages or files sent via Dropbox [file request](https://www.dropbox.com/help/files-folders/create-file-request). I looked into the latter option

[2018-10-01 20:52] lenasong commented on #5
You got it. Here's the [recruitment survey](https://nyu.qualtrics.com/jfe/form/SV_1N8BQvxgfrCxETb).

@KellyBuckley can you take a look at this and add content from consent form as needed?

I'm working on adding a few more WTA-related questions in the main survey (which participants will receive via E-mail after they meet eligibility in the recruitment survey) for everyone to review. Then we'll be

[2018-10-01 22:11] rajbhargava commented on #5
Here's a mock-up Google ad:

<img width="451" alt="screen shot 2018-10-01 at 17 07 22" src="https://user-images.githubusercontent.com/41802435/46315885-9fb7e800-c59c-11e8-9282-9f3d8d4e491a.png">

We can target by location, age, and search keywords (e.g. NYU, financial aid, etc.). Note that Google estimates that a **$300**/month budget would lead to **458-770 views** per month / **81-136 clicks** p

[2018-10-02 18:46] KellyBuckley commented on #5
@lenasong I've updated the recruitment survey with the consent language. I also changed it around a little (so you do the qualification questions first, ending the survey as soon as you get one wrong, and then walk through the consent part before giving your email)

[2018-10-02 20:04] lenasong commented on #5
@KellyBuckley @rajbhargava thanks!

Re: Google ads - what location and age are you using to target NYU sophomores and juniors? Let's for now focus on the display network (see comments above by @huntallcott and @gentzkow on display vs. search on Google ads).

[2018-10-02 20:10] lenasong commented on #8
Looks like the initial IRB review is back. There are just a few comments that can be easily addressed.

@KellyBuckley Can you go through the comments and respond if possible? Most of these can be addressed with an updated survey consent and its link. Let me know if you don't have access.

[2018-10-02 20:19] lenasong commented on #9
@huntallcott I've reviewed the pilot questions. They already contain the questions Kelly and I came up earlier - questions on gender, combined income from household (parents if dependent on them), zip code where they lived prior to NYU, average daily phone usage, average daily pick-ups.

I'm suggestion two additional questions (using standard questions from the College Senior Survey):

1. If you b

[2018-10-03 14:36] KellyBuckley commented on #8
@lenasong I was able to fix some and didn't know about others, here are my comments on the 5 comments they left:
1. (Project Information II) I think what they were asking for here is a link to the qualtrics survey itself, not a pdf of it. I don't think a link will work since we don't have phone auth, etc. set up. Feel free to edit what I wrote if you disagree though.
2. (Project Information II) I

[2018-10-03 17:31] huntallcott commented on #9
Thanks Lena. Am I right that these questions are to help us with price
discrimination in the bdm?
If so, I would propose we do something simpler. What if you either just ask
a qualitative likert question, eg how tight is your financial situation
these days?
Fine, moderately tight, very tight etc.

These questions you proposed are precise in some sense but are probably
more noisy for our purposes t

[2018-10-03 17:47] huntallcott commented on #11
@lenasong thanks for thinking about this. These are all good ideas, and honestly I don't know which is best.

[2018-10-03 19:15] rajbhargava commented on #5
@lenasong

I wasn't really sure - figured you all know a lot more about NYU than I do! As a placeholder for location I had Manhattan + Brooklyn; ages 18-22.

Based on the cost estimates above, Google ads don't seem super cost effective. I wonder if you know any undergrads at NYU and can ask them to post a link in FB groups they may be part of (e.g. class of 2021 groups)?

[2018-10-03 20:04] lenasong commented on #5
Since we'd like the pilot to be informative for the full experiment, knowing more about NYU actually is a disadvantage! I wonder if there's a method we could use that can be applied to other colleges as well.

Here is an idea: a [list](https://www.nyu.edu/students/student-information-and-resources/registration-records-and-graduation/registration/classroom-locations.html) of all NYU classroom and r

[2018-10-03 20:58] lenasong commented on #5
@rajbhargava You mentioned that in the FB project you had an estimation of the number of recruits (that was different from what FB ads provide). How does that work? I'm wondering if we need to add a question in the survey that asks where the respondent heard about the survey.

[2018-10-03 21:28] lenasong commented on #9
@huntallcott sounds good. I'm adding two questions: one about financial situation now that you are proposing and one about general ability to finance their education - taken from CIRP Freshman Survey. (As a grad student I would always say that my financial situation is very tight when asked generally, hence the additional question - feel free to change on qualtrics as you see fit).

I'm creating a

[2018-10-03 21:30] lenasong commented on #1
@KellyBuckley can you add both the embedded form and instructions for external site, and randomize between these two options?

[2018-10-03 21:58] rajbhargava commented on #5
@lenasong

1. Geographically targeting NYU is a bit idiosyncratic since from my understanding it's so integrated into the city. Other schools that have more defined campuses (e.g. Stanford, Berkeley) are much easier to geographically target. I think the list is a great idea for NYU in particular, but again not sure if necessary for schools with more defined campuses.

2. FB ads provides a link cli

[2018-10-04 19:41] lenasong commented on #5
@rajbhargava Regarding 2 - got it. Thanks!

Are you able to set up the geographical targeting with the list? If that's not possible (cannot do specific addresses in bulk targeting), try 1 km radius around a location near Washington Square Park that's in the middle of the main buildings (here's a [map](https://www.nyu.edu/footer/map.html) - that should be able to cover the main campus and residence

[2018-10-04 21:34] lenasong commented on #1
Yes, and include any other questions we still need to ask to complete the
consent form - replicating the NYU form minus fields we've already
collected.

On Thu, Oct 4, 2018, 5:23 PM KellyBuckley <notifications@github.com> wrote:

[2018-10-04 21:48] KellyBuckley commented on #1
@lenasong the form asks for address, which is not something we were going to originally collect and seems like unnecessary info for us. Do you know if we could submit the form without the address of the student? Otherwise we should probably update the IRB.

[2018-10-04 22:13] lenasong commented on #1
Judging from the online form address is not required so we could leave it
out for now. I'll also double check with NYU.

On Thu, Oct 4, 2018, 5:48 PM KellyBuckley <notifications@github.com> wrote:

[2018-10-04 22:31] KellyBuckley commented on #1
@lenasong I updated the survey with the two transcript options and set up the Survey Flow to randomize the two blocks (there is a check box asking if they should be evenly presented, which I didn't check, should it be checked?). Take a look and see if you like the way it's set up. I also added a question asking them to upload a screenshot of the final signature page if they get the website transcr

[2018-10-05 15:56] lenasong commented on #1
@KellyBuckley embedded form looks great!

For the link option - the [website](https://www.nyu.edu/registrar/transcript-form.html) actually doesn't directly send it out to NYU; it simply generates a pdf. So in place of the screenshot, we can ask them to send the pdf generated. We'll need to provide some additional instructions, ie. fill in Hunt as the recipient (no address needed) and save the pdf.

[2018-10-05 20:37] KellyBuckley commented on #1
@lenasong got it, I updated that question in Qualtrics.

[2018-10-08 19:57] michael-butler1994 commented on #5
@lenasong I've drafted a second version of the Facebook/Instagram ad (see below), and I want to check over a few details before I move onto the google ad.

**Text in the ad**
-  FB/instagram ads must be linked to a FB page. Currently, the ad links to "[NYU and Stanford Phone Usage Study](https://www.facebook.com/NYU-and-Stanford-Phone-Usage-Study-250381222488834/)". Should I make any revisions to

[2018-10-08 20:30] lenasong commented on #1
I have gone through and put together our two main surveys for the pilot baseline:
1. [Recruitment survey](https://nyu.qualtrics.com/jfe/form/SV_1N8BQvxgfrCxETb) which is linked to the Google/FB/Instagram ads
2. [Baseline survey](https://nyu.qualtrics.com/jfe/form/SV_bdxuiQsF3ADqEjr
) that includes questions on screenshot upload

@KellyBuckley thanks for your help on this.

Note the following:

- I

[2018-10-08 20:43] lenasong commented on #11
@huntallcott @gentzkow thanks for the feedback.

Some quick comments:

- That was my prior as well that the photos should include creation date as part of EXIF metadata. I've tested with two screenshots and then downloaded them from Qualtrics - they are saved under Dropbox\PhoneAddiction\Pilot\Test Screenshots. From my computer (Windows), the origin information is blank. Perhaps someone else has a

[2018-10-08 20:57] lenasong commented on #10
Quick update - I've reached out to several data entry firms as Mike suggested and heard back from 3 after sending a sample of our input and specifying required output. All of them suggest that the screenshots will be processed partially manually and their firms do not have the capability to fully automate this.

Quotes received so far (Hitech agrees to process 50-100 participants from the pilot an

[2018-10-08 21:08] lenasong commented on #5
Thanks @michael-butler1994. I'm having trouble accessing the link but here are some quick comments:

- Surprised that phone does not affect potential reach but we could actually go with all iPhone users since we will remind them to update in the recruitment survey
- "Were recently" seems like a better fit than "live"
- How specific can we define those who have liked pages related to NYU? Can we lo

[2018-10-08 21:12] lenasong commented on #5
One more clarification, the participant can expect $50 on average and up to $70 in doing the survey. Perhaps we can say "Earn up to $70/hour by participating in weekly surveys for 3 weeks"?

[2018-10-08 22:00] lenasong commented on #8
@KellyBuckley thanks for the comments. I've reviewed them and added my thoughts in the IRB application.

@huntallcott take a look? FYI - the comments made by reviewer are in Project Information II and Consent & Privacy sections.

[2018-10-08 22:27] gentzkow commented on #11
Thanks @lenasong.

On the EXIF: I can see date created for the screenshots you uploaded in the Mac OS photos app etc. but it looks to me like this is just pulling the data modified / created info from the file: Oct 1, 2018 1:47pm. Maybe all that's ever recorded is the file info? I tried taking another screenshot -- I have data on the date and time it was taken in the photos app but this again matc

[2018-10-08 22:39] gentzkow commented on #10
Thanks @lenasong. This sounds good. I definitely think something like only recording apps with 5min+ could be a good idea.

I suspect building a tool to do the detection automatically will either be less reliable or more expensive (or both). But I could be wrong.

[2018-10-09 16:31] michael-butler1994 commented on #5
For the google ad: you can either specify a radius of at least 3km from an address, or you can use _at least_ one of their pre-define 'areas'. These areas include zipcodes or college campuses.

I set up a different kind of google ad that's able to target 18-24 year olds, and current undergraduate college students, which search for "NYU" or "New York University". Unfortunately, google ads doesn't p

[2018-10-09 18:58] michael-butler1994 commented on #1
@lenasong I've filled out the surveys and they look great! My feedback is below. If it's easier to go through this on the phone, I'm free this afternoon to chat.

Here are my notes:

**Recruitment**
- When a user inputs email, we could include additional instructions saying: "include '@nyu.edu'"
- should we send an automatic an email to users who complete the survey?

I feel like a 1/50 chance to

[2018-10-09 19:00] lenasong commented on #5
@michael-butler1994 great, thanks. Let's do Google/FB/Instagram for now and see how that goes then.

[2018-10-09 19:11] lenasong commented on #1
@michael-butler1994 Thanks for the comments. I'll give you a call shortly so we can quickly go through these together and let @huntallcott and @gentzkow know when it's updated.

[2018-10-09 22:44] michael-butler1994 commented on #5
The google and facebook/instagram ads are ready to go live. Before that happens, we should decide our daily budget for these ads.  If 5% of clicks turn out to be eligible and complete the survey, we would have to spend $500 dollars to recruit 50 pilot participants (assuming avg cost per click overall equals $.50). If we start the survey tomorrow and want to start the baseline on Sunday, we have 4

[2018-10-09 23:37] rajbhargava commented on #5
Just chiming in - for the college age group CPC was between $0.25-0.40 and conversion rate was around 15-20%.

[2018-10-10 03:02] lenasong commented on #1
@michael-butler1994 and I have worked on updating the [recruitment survey](https://nyu.qualtrics.com/jfe/form/SV_1N8BQvxgfrCxETb) and [baseline survey](https://nyu.qualtrics.com/jfe/form/SV_bdxuiQsF3ADqEjr). @huntallcott @gentzkow take a look and let us know what you think?

Note that we've added these two payment randomizations:
- Fixed payment randomization: pay $5 for baseline survey, and rando

[2018-10-10 03:07] lenasong commented on #5
@michael-butler1994 is there a character limit on the Google ad title? Could use the same title as the other ads "NYU Student? Earn up to $70/hour in online study".

Let's also update the content of the FB/instagram ads to reflect the lottery updates as we've discussed.

[2018-10-10 14:44] michael-butler1994 commented on #5
@lenasong Yes, the google ad has strict character limitations. Before and after the "|" in the headline, I can only write 30 characters. Below the link, I can write 90 characters.

I revised the FB ad to include the lottery updates, and to clarify that we're only looking for an hour of commitment over 3 weeks. I assume NYU students are very busy, so a quick $70 bucks may be more appealing than a b

[2018-10-10 15:29] huntallcott commented on #1
@lenasong thanks.
A. on the screening survey, it looks great except that the last question has some messed up text.
B. yes to moving friend invite to the recruitment survey.
C. The baseline survey link above doesn't work for me. it says "This survey can only be taken by invitation." I just logged into my qualtrics account, though, and so I could view it, but @gentzkow might not be able to.

[2018-10-10 15:34] huntallcott commented on #1
1. Consent:
* “For any questions, comments or complaints, please contact Professor Matthew Gentzkow (Stanford University) or Professor Hunt Allcott (NYU) at mb7486@nyu.edu or (212) 998-8900.” Please change to “For any questions, comments or complaints, please contact Professor Hunt Allcott’s team at mb7486@nyu.edu.”
    - I think you should take Matt's name off of the consent form, just because St

[2018-10-10 15:35] huntallcott commented on #1
also:
THIS IS TREMENDOUS!
ALL OF YOU HAVE DONE A FANTASTIC JOB!

[2018-10-10 16:14] lenasong commented on #1
@huntallcott thanks! Here are the updated links that should also work for @gentzkow:  [recruitment survey](https://nyu.qualtrics.com/jfe/form/SV_1N8BQvxgfrCxETb) and [baseline survey](https://nyu.ca1.qualtrics.com/jfe/preview/SV_bdxuiQsF3ADqEjr?Q_SurveyVersionID=current&Q_CHL=preview).

@michael-butler1994 can you take a stab at addressing Hunt's comments and let me know if you have any questions?

[2018-10-10 17:46] lenasong commented on #1
@huntallcott to clarify on the IRB process - should we remove the language from IRB altogether so we could launch the pilot this week?

On incentive compatibility of pilot - I thought we wanted to elicit WTA again at midline in a week and randomizing then, so we are simply asking participants to consider the hypothetical scenarios now and get some usage data between baseline and midline. Let us kn

[2018-10-10 18:32] huntallcott commented on #1
@lenasong:
0. IRB: can you write to them (Brenda?) just to check in and tell her that we are in a bit of a hurry?
1. I don't think we need extra usage data between baseline and midline, given that we can already collect historical usage data at baseline. So I would be in favor of doing incentivized MPLs at baseline for the pilot.
2. On categories, I think the most points we get intellectually is t

[2018-10-10 20:00] michael-butler1994 commented on #1
@lenasong I've updated the recruitment survey to include the friend referral questions, and I'm working through Hunt's feedback on the baseline survey now. I don't really know how the qualtrics logic works wrt these friend referral questions though (i.e. Display equals <>). Should I set up an automatic email to the email addresses in the friend lists, along the lines of: "Hi [friend name]! You're

[2018-10-10 22:12] lenasong commented on #1
@huntallcott sounds good. I've followed up with Brenda on our IRB application and will keep you updated.  The device used can be tracked via [metainfo](https://www.qualtrics.com/community/discussion/547/identifying-mobile-vs-desktop-survey-completion) - @michael-butler1994, can you try adding this to the baseline survey? We should also add in the beginning of survey something along the lines of "t

[2018-10-10 22:31] michael-butler1994 commented on #1
*disclaimer* not sure what MPL stands for, so my grammar may be off below :D

I've revised the baseline survey, and have implemented the following:

 1. Updated consent language.
 2.  I moved the "interested in other studies question?" to the payment block at the end of the survey
 3. You're not a jerk Hunt!
 4. It looks like a 'pickup' is measured by the number of times a user unlocks or clicks/s

[2018-10-11 10:52] huntallcott commented on #1
@lenasong @michael-butler1994 thanks very much for doing this.
1.	I’m fine with whatever timeline we can hit, and with the proportions you said, or 50-50 T-C in the pilot.
2.	Agree with @lenasong on the issue that it’s important to have a good sense of usage before asking to reduce. If you think that many people won’t have a 7-day history yet in screentime if they’ve just updated, then yes I’m fin

[2018-10-11 13:41] michael-butler1994 commented on #1
@lenasong I set up the friend referral emails, though I couldn't figure out how to personalize them. I'll ask another RA how to personalize later today.  Sorry for the spam this morning-- I wanted to verify that the emails were BCC. If the latest friend referral email works for you, then I think the recruitment survey is ready to launch. Let me know, and I'll activate the google and facebook ads.

[2018-10-11 13:53] lenasong commented on #1
@michael-butler1994 thanks. Were you able to add the device tracking metadata?

I'm in a conference all day today and will take a look at the baseline survey tonight.

The friend invitation looks good and we just received the IRB approval. I think we are ready to launch once you are able to set up personalization!

[2018-10-11 14:04] lenasong commented on #1
One quick comment - are we confident that we are able to recruit 50 by end of the week? In the case we don't recruit enough, should we still send out the baseline by end of the week and do another round of recruitment next week, or wait until we reach 50?

[2018-10-11 14:06] lenasong commented on #8
Approved! I've saved the approval under \PhoneAddiction\IRB.

[2018-10-11 14:36] huntallcott commented on #1
Let’s see how it goes. In any event, I don’t think 50 is a hard number, and
I’d be happy with anything over 20.
--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2018-10-11 14:39] michael-butler1994 commented on #1
@lenasong I added the metadata tracker to the baseline.

I talked to the Qualtrics expert RA in the lab. In order to send personalized emails, i.e. ("Hi Lena", instead of "Hello!"), I'll either have to write my own python script, or create 8 separate email triggers (which would be a pain to revise) and rewrite the friend referral question. Creating 8 separate email triggers would take an hour, but

[2018-10-11 15:01] lenasong commented on #1
@michael-butler1994 I took a closer look at the email trigger and made some minor edits. Take a look? If it looks good to you I say we go ahead and launch the ads now. Thanks!

[2018-10-11 17:22] michael-butler1994 commented on #1
@lenasong the ads have launched! I'll give ya'll an update in a few hours.

[2018-10-12 01:51] lenasong commented on #5
@michael-butler1994 awesome. Do you have time tomorrow to reach out to two NYU student newspapers: [NYU Local](https://nyulocal.com/), [Washington Square News](https://nyunews.com/)? We could ask them if they'd be willing to advertise for us on their social media platforms.

[2018-10-12 04:44] lenasong commented on #1
Here are some comments on the [baseline](https://nyu.ca1.qualtrics.com/jfe/preview/SV_bdxuiQsF3ADqEjr?Q_SurveyVersionID=current&Q_CHL=preview):

- consent: we've left Matt's name (no contact info) in the form, since IRB asked us to include names of all PIs.

- I added two more MPLs so now we have 5 Multiple Price Lists: 30, 60, 120 minutes for total phone usage, and 60 min for productivity and 60

[2018-10-12 10:27] huntallcott commented on #1
@lenasong all this sounds good.
One minor logistical point is that from an overall IRB perspective we're still safest keeping Matt off the public documents. For now he is a friend who is giving great advice. When he gets Stanford IRB approval we can promote him to PI.

[2018-10-12 10:30] huntallcott commented on #5
quick comment -- I'm not against local/school newspapers but would comment that we should focus on recruitment methods that we are able to scale to ~10 schools.
Thanks to both of you.

[2018-10-12 15:29] michael-butler1994 commented on #1
@lenasong your instructions for the screenshots look good. We could even hyperlink to examples of the correct screenshots.

I think we should create a separate screenshot upload form. It could be the same form for baseline, midline, and endline surveys. It would prevent people from uploading screenshots through their desktop (a huge hassle). As soon as a user completes the baseline survey, we coul

[2018-10-12 16:07] lenasong commented on #1
@huntallcott done. @gentzkow let us know if you have any additional great advice for the baseline survey. We'll send it out to participants (25 so far) we recruit by then on Sunday.

@michael-butler1994 great ideas. Can you set these up, as well as an email that distributes the baseline, scheduled for Sunday afternoon/early evening?

[2018-10-13 15:27] michael-butler1994 commented on #1
Yes, setting all that up now. Should be done in a few hours. Also, I'm pretty sure people can create email accounts that appear to have "@nyu.edu"... Aside from transcript upload, do we have a method to vet these fake accounts?

[2018-10-13 17:44] lenasong commented on #5
@michael-butler1994 looks like we have almost 60 participants now. What do you think about taking down the online ads and just get more people via the friends invite? I've re-adjusted the quota so more people can take the survey.

[2018-10-13 18:47] michael-butler1994 commented on #5
I've shut down the ads!

[2018-10-13 19:01] michael-butler1994 commented on #1
@lenasong I've revised the baseline survey and created a separate Phone Usage Screenshot Upload Form, which you should have access to. As soon as a user finishes the baseline survey, they are emailed a link to the screenshot form.  Once they complete the screenshot form, they're supposed to receive a $5 gift card. How much of that has been set up?

Within Qualtrics, I can't find the contact list y

[2018-10-13 21:00] lenasong commented on #1
@michael-butler1994 thanks. Yes I see the pilot recruitment contact list. Not sure why it's not shared among us with access to the recruitment survey.

Did you already set up an email distribution to send out the baseline survey? If not I'll set it up for it to be sent out tomorrow, say 8 pm. Both of us are on the recruitment contact list so we'll see it when it's sent.

In terms of payment, what

[2018-10-13 21:43] michael-butler1994 commented on #1
@lenasong I have not set up an email distribution... though I created my own contact list trigger to see if it would collect all emails from the recruitment survey. It didn't work. Yeah, it would be great if you could send out the baseline survey to the recruitment contact list.

Payment after screenshot validation seems reasonable. We would have to change the language slightly in the baseline sur

[2018-10-13 21:49] michael-butler1994 commented on #1
Also, I see that you made the Baseline Survey and Screenshot forms private. Did you try testing the baseline survey after making that revision?  And if so, did you receive an email with a working link to the screenshot form?

[2018-10-13 22:03] gentzkow commented on #1
@lenasong @huntallcott @michael-butler1994 Sorry to chime in late here!

The baseline survey generally looks good to me. A few comments. Apologies if these are answered in earlier comments I missed.

* What is the purpose of the very detailed "how do you use" questions? What will we do with the info that someone uses maps more than dating apps, say?

* What is the purpose of the "financial situati

[2018-10-13 22:44] lenasong commented on #1
@michael-butler1994 I've sent the baseline survey to both of us and the screenshot upload survey seems to work. Can you give me additional permission to view data, distribute, etc for the screenshot survey (so far I can only view the survey questions)? I'd like to confirm that data on the screenshot survey is linked to the same respondentID as baseline, or at least we can link them without having

[2018-10-14 04:13] lenasong commented on #1
@gentzkow thanks for the comments.

Here are some thoughts and changes I've made:

- "how do you use" questions - this is a point @huntallcott brought up as well, and I'm happy to simplify two questions, Use_Q3 and Use_Q8 related to this issue. Question Use_Q3 asks the function that the user values the most, while Use_Q8 asks for each category, what do users think about the amount of time they are

[2018-10-15 00:29] gentzkow commented on #1
Thanks @lenasong. These changes sound good to me.

Just to be sure: I am fine keeping questions as they were if this maintains consistency with prior work / existing scales. I thought that might be the case with the "often do without thinking" question.

[2018-10-15 21:35] lenasong commented on #1
@michael-butler1994 thanks.

@gentzkow @KellyBuckley point taken. I'm fine restoring the questions from Self-Report Behavioural Automaticity Index for the full experiment (but have to admit that I don't see much difference between the questions).

[2018-10-15 21:56] KellyBuckley commented on #1
@lenasong [here's the background](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3552971/) on that index in particular (explains how it was constructed and why those questions are used, the paper actually covers how they were able to decrease the number of questions from 12 to 4). In general, multi-question measures of behavior require all the questions to predict the behavior since it's the correla

[2018-10-16 16:16] michael-butler1994 commented on #1
@lenasong I have a few clarification questions about randomly assigning people to control and treatment groups for the pilot.
1. Will people know their treatment assignment before they fill out the midline survey?
2. Will everyone receive the exact same midline survey?
- If the answer is Yes to 1, or No to 2, then I'll need to build a program which randomizes all Baseline survey completes into the

[2018-10-16 17:44] gentzkow commented on #1
Thanks @lenasong. I'm happy to consider adding a few more questions to the midline if we think it's high value. Do you want to consult with @KellyBuckley and come up with a recommendation of what you think would be highest value?

[2018-10-16 18:04] huntallcott commented on #1
My vote is to keep simple without the social interaction or swb questions.
We know how to do that, and I vote to keep this quick and easy.
--

Hunt Allcott

https://sites.google.com/site/allcott/home

[2018-10-16 20:19] lenasong commented on #1
@huntallcott @gentzkow sounds good. @KellyBuckley let's touch base again after I'm done with the pilot logistics. Would be great to get your input when we review the well-being scales and social interactions questions.

@michael-butler1994 I'm interested to hear how it's done in the payday/fb surveys. I had in mind randomization in the survey - when filling out the WTA questions the respondents do

[2018-10-17 20:31] michael-butler1994 commented on #1
For the Facebook study, baseline completes were randomized before the midline was distributed. After respondents filled out their WTA questions on the midline (everyone received the same WTA questions/instructions), their treatment assignment was revealed in the survey.

For the payday survey, everyone received the same survey, some sort of qualtrics randomization tool was used, and their placemen

[2018-10-17 22:21] lenasong commented on #1
@michael-butler1994 great. Can you set up randomization as described with baseline contacts? You'll have to deleting us, incompletes, and those who said no to our consent form (they would show up as completes in the data export).

Let us know when the midline survey is ready with randomization embedded and we can all review?

[2018-10-20 00:31] lenasong commented on #1
Here's a [preview](https://nyu.ca1.qualtrics.com/jfe/preview/SV_9pqiRafAuqv7d6l?Q_SurveyVersionID=current&Q_CHL=preview) of the midline. Thanks @michael-butler1994 for your help on this.

Note that all the participants sees the same WTA questions, but they will be compensated differently based on the randomization result (control 50%, treatment with 120 minutes 11%, treatment with 30 minutes 11%,

[2018-10-20 20:14] huntallcott commented on #1
@lenasong @michael-butler1994 ,
This looks great to me. I am very excited about this.

Just confirming: the questions below are exactly the objects recorded in Screen Time?
![image](https://user-images.githubusercontent.com/23505296/47260096-c1610c80-d482-11e8-833d-d08db6559c06.png)

[2018-10-21 01:47] lenasong commented on #1
@huntallcott yes, @michael-butler1994 reviewed this last week with definition from tech news site (I also don't see "official" definitions from Apple).

[2018-10-23 18:15] lenasong commented on #10
Here's an overview of all the companies I've reached out to who have done some screenshot processing for us:
- Om Data Entry India - $0.17 per participant every week (for about top 60 apps used). Very good quality on small sample, baseline screenshot completed with errors
- Flatworld Solutions - $0.56 per participant every week. Had to correct mistakes in a sample I sent them with only 2 participa

[2018-10-23 18:47] huntallcott commented on #10
@lenasong many thanks. My opinion would be that we should only get the required info to implement the incentive payments and compare to the elicited beliefs about usage. Can you confirm that these can be done without reading the graphs? If so, then I would be OK not coding the graphs.

The only reasons to code the graphs would be if:
1. We need those data to evaluate the MPLs and belief questions

[2018-10-23 18:49] gentzkow commented on #10
Great. Thanks @lenasong. I agree with @huntallcott.

I'm fine going ahead with a larger scale test with Om. Two things I've found helpful in the past:
(i) Make clear that we will check a random sample for errors and pay only if error rate is below some low threshold.
(ii) Have them enter each screenshot twice independently and reconcile discrepancies on their side before sending to us.

[2018-10-23 19:06] lenasong commented on #10
@huntallcott @gentzkow thanks for the quick feedback. I'll communicate those points with Om when they get back to me with a final quote.

Yes - the average daily use for the past 7 days and weekly total for categories are readily available.

[2018-10-25 01:01] gentzkow commented on #1
Thanks @lenasong @michael-butler1994. This looks great.

Big question: Right now we are not prompting people to look at their actual usage on screentime before filling out the WTA questions, correct? Are we sure about that decision? If we don't, I think a lot of the variation in WTA answers will come from people being uncertain in how much they actually use their phones rather than thinking about

[2018-10-25 15:28] lenasong commented on #1
@gentzkow totally on board with the clarifications! It reads so much better now.

Also good with changing the order of screenshot and WTA for the midline.

Are we using the baseline WTA for anything other than practice? If not, I'm fine with the order as it is for the baseline. At the moment we have WTA as part of the main survey and screenshot sent as a follow-up survey right after. We will have

[2018-10-25 16:03] gentzkow commented on #1
Great. I'd like to hear @huntallcott's thoughts on the screenshot before vs. after and asking in minutes vs percents (i.e., 1 and 2 from my last comment).

Unless we think it's going to throw things off the rails, I think it's worth making the baseline as close as possible to what we think is our preferred version. That will make the practice more valuable. The fact that there are some technical i

[2018-10-25 20:16] huntallcott commented on #1
Hi @lenasong @gentzkow ,
On @gentzkow's two issues.
1. I agree that it's important for people to have a sense of their past usage before they fill out future usage. There seems to be two ways to do this: (i) upload screenshots first. (ii) remind people of their baseline screenshots, or some average of past screenshots as we get further into the experiment, before the WTA. Either or both would be g

[2018-10-25 21:03] michael-butler1994 opened #12 "Baseline Pilot Results"
I've created a few histograms that compare _perceived_ phone use and pickup data from the baseline survey to _actual_ use & pickup data from the baseline screenshots. I limit the sample to test subjects who completed the baseline screenshot form (n=36) and who recorded an actual average daily usage of more than 10 minutes (n =29). A user with less than 10 minutes of usage likely just updated their

[2018-10-26 11:21] huntallcott opened #13 "Develop model and identification strategy"
The goal of this issue is to develop the model and identification strategy.

I have pushed a very rough initial outline [here](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf).
The lyx file is [here](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/source/PhoneAddiction_Model.lyx).

Matt's comments on the initial file are here: [Phone

[2018-10-26 11:41] huntallcott commented on #12
Great. Thanks @michael-butler1994. These are interesting. Looking forward to seeing the further results as soon as you post them.
Tagging @gentzkow so he sees this as well.

[2018-10-26 12:31] lenasong commented on #13
@huntallcott cool! I can start working on this next Monday and will come back with questions/comments.

[2018-10-26 13:20] lenasong commented on #1
@huntallcott @gentzkow noted - we can definitely do both screenshot first and reminder of usage.

@gentzkow taking a quick glance at the framework @huntallcott proposed I think my question is no longer relevant. I was trying to understand how we can compare and aggregate answers over people with different initial usage without assuming a specific functional form.

[2018-10-28 05:10] gentzkow commented on #13
Sounds good to me. Explanation above has made me more positive about this approach than I was when I first read the doc. I think @lenasong can proceed and I'll keep thinking about it as we go along.

[2018-10-31 11:04] lenasong commented on #10
Quick update - I'm still negotiating the contract with Om. They seem very reluctant

[2018-10-31 12:54] huntallcott commented on #1
@lenasong thanks.
This looks good.
I would also add a couple of open-answer questions just to learn about the pilot and how it went, e.g.:
1. We are trying to make the surveys work as well as possible for future participants. Did you encounter any problems with uploading your screenshots, or any other advice you'd like to share?
2. [for those in treatment group]. How did you feel about using your

[2018-10-31 17:50] lenasong commented on #10
@gentzkow @huntallcott I've gotten Om Data Entry to agree on our requirement of lower than 2% error rate via double data entry. For this, they are asking for $0.30 per user every week.

This is still the lowest offer I've received.
- Are we still comfortable with this pricing? If so I'll proceed to drafting the contract with Om.
- Do we have the budget to hire a quality assurance contractor? I'm t

[2018-10-31 18:06] lenasong commented on #1
@huntallcott thanks for the suggestions. I've updated the survey with these questions.

[2018-11-01 13:03] huntallcott commented on #10
Thanks @lenasong.
We have about $247k for the whole project to allocate as we want.
If they spend 5 minutes per user (including double entry) this is $3.60 per hour.
It seems like you've talked with multiple firms and this is the lowest price, so great.

But I would hold off on signing a contract until we are more certain about sample size, number of weeks, the Northwestern app, etc. Does that mak

[2018-11-01 20:33] lenasong commented on #10
@huntallcott for sure! From what I hear from Shehnaz I don't think she can set up any payment without those details you mentioned.

FYI - Om has sent me a [contract](https://drive.google.com/open?id=0BxK0VSkdFGoDNWNHcXRNV3BCTWNkaVloSTVQbmcwMXdPVE1v) draft, to be signed by Stanford. It doesn't specify scope of work and is paid per entry basis. I'll also get them to add the minimum error clause. The

[2018-11-02 20:08] michael-butler1994 commented on #12
@gentzkow @lenasong @huntallcott  I've attached a pdf with a few summary stats from the baseline survey. My sample includes Baseline Survey completes (n =42), a larger sample than Baseline Screenshot Form Completes (n=36) used for the analysis above.

Apologies for the delay.  Please let me know if there are other baseline questions you'd like me to look at. Next, I'll post some stats from the mid

[2018-11-02 23:02] gentzkow commented on #12
Wow! If there was any doubt that people think they're using their phones too much / too mindlessly / without thinking this dispels it.

Makes you wonder if we shouldn't go after some even more aggressive commitment device options -- maybe something a la [stickk.com](http://www.stickk.com/)?

[2018-11-02 23:04] gentzkow commented on #1
Looks good to me!

[2018-11-05 02:43] huntallcott commented on #12
@michael-butler1994 thanks, I agree that this is very interesting.
Looking forward to seeing the further analyses here.

A couple points of order that will help us work efficiently together.
1. Can you use more descriptive branch names, e.g. pilot_analysis instead of "michael"?
2. On the master, can you structure the code and data exactly as in the SocialMediaEffects repo? In particular:
* Can you

[2018-11-06 19:51] michael-butler1994 opened #14 "Alternative Data Collection Methods"
@gentzkow @huntallcott @lenasong I created this issue to discuss alternative phone usage data collection methods. [Northerwestern's CBITs](http://cbits.northwestern.edu/) no longer develops software for research projects. About a week ago, I asked them if they knew of any similar groups or developers which could help us, and they haven't gotten back to me.

I haven't done any research on Onavo yet

[2018-11-06 22:13] huntallcott commented on #14
Thanks @michael-butler1994.
Would it be possible for you to have a phone conversation with somebody there, if you haven't already? e.g. somebody listed on their staff page, or the post-doc? It would be good to have a full sense of what their app can do, even if we can't use it, and get their ideas on what we can do for measurement.

[2018-11-08 03:17] lenasong commented on #13
Wanted to give a quick update that I'm still working on this. I will have more time in the next few days as we are wrapping up the logistics for the pilot and will have some basic derivations done by early next week.

[2018-11-09 01:01] lenasong commented on #9
I've set up Rewards Genius for participant payment and just paid our 16 pilot finishers (for completion of all surveys, friend invites and treatment incentives) via a single Tango Card.

A summary of deposits and withdrawals from the account can be found in Tango Card Account Overview, under Dropbox\PhoneAddiction\Survey Logistics\Tango Card.

[2018-11-09 13:43] huntallcott commented on #9
Awesome, thank you.
Can you confirm that if you're using my credit card, you'll make sure that the reimbursement gets processed?

[2018-11-09 15:06] lenasong commented on #9
@huntallcott yes, and this one is all set up directly with Stanford!

[2018-11-13 14:54] lenasong commented on #13
I've posted an updated [model](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf) with the first steps solved, including updates on:
-allowing for exogenous initial stock of habit s1, instead of 0
-WTP
-identification of demand slope, direct effect of habit on demand, and amount of temptation
-the set-up for partially naive temptation and habit format

[2018-11-15 19:50] gentzkow commented on #13
Thanks @lenasong. This looks like good progress.

The biggest question for me with this approach is how we're estimating \beta. If I understand correctly, we're getting this by looking at how the response of period 1 consumption to p_1 compares to what we would expect given the other parameters. If the response is very high, we infer she must not weight the habit formation at all so beta=0. If the

[2018-11-15 19:52] gentzkow commented on #13
@huntallcott @lenasong One other note: Re-reading some of the lit, I'm reminded that a key test of forward looking behavior in Gruber-Koszegi, Becker-Grossman-Murphy, etc. is whether present consumption responds to expected future price changes. Seems like our current two-period two-price setup is well designed to evaluate that directly.

[2018-11-15 22:12] michael-butler1994 commented on #14
@huntallcott @lenasong

CBITs- The CBITs administrative assistant ignored my request to set up a phone call with a faculty member, though she recommended that I contact Chris Karr, a former CBITs developer who founded [Audacious Software](https://audacious-software.com/). Chris developed Purple Robot. I sent him an email, and I plan to call him tomorrow.

Facebook's Onavo: I don't think it's for u

[2018-11-17 17:32] huntallcott commented on #12
@michael-butler1994 ,
Just checking in on this. You are still working through the pilot results, yes? I'm very interested to see them.

[2018-11-17 17:41] huntallcott commented on #13
@lenasong @gentzkow a couple of additional thoughts from this morning:
1. Discrete vs. continuous choice
  - As @lenasong pointed out, we should keep in the back of our minds that the other experimental design option is to pay people F to keep minutes below some threshold, as in the pilot.
  - One thing to flag is that the discrete choice could be a lot easier to explain to people, and could thus

[2018-11-17 18:40] michael-butler1994 commented on #12
@huntallcott Yes, I'll have a bunch of results on Monday! Got backed up with pilot management, and time off.

[2018-11-17 18:44] gentzkow commented on #13
Good thoughts.

I agree about (1)-(2).

On (3), I agree that the FB version is a better way to get at sophistication about habit formation. I think the price effect is of independent interest, though. Becker and Murphy highlight this as the key test of the rational addiction model, and we'd have the potential to provide one of the cleaner tests. If we found that people do anticipate habit formatio

[2018-11-20 02:29] lenasong commented on #13
@huntallcott @gentzkow thanks for the comments. I've updated notes on the [model](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf) with additional steps on identification of beta following Hunt's outline using F*.  This would, however, require identification of additional parameters (MU of other good, and intercept of MU of phone).

I also included

[2018-11-20 04:56] gentzkow commented on #13
Thanks @lenasong. The model note linked above is the older version dated Nov 12. Maybe you didn't commit the new PDF?

[2018-11-20 18:54] michael-butler1994 commented on #14
@lenasong @huntallcott @gentzkow
Lena and I had a good phone call with Chris Karr at Audacious software yesterday. He’s an experienced software developer who has designed apps which collect personal phone data for academic research. We discussed data collection approaches for:

Android Users:
- Chris has already designed an app which detects the phone’s 'foreground' app as frequently as every 15 s

[2018-11-21 12:49] huntallcott commented on #14
Thanks to both of you.
I can't do Tuesday but think that you should proceed. @gentzkow may want to attend if there are specific concerns.
I think that this will be killer if it works, but I would want to make sure that the following things are resolved:
#### Android:
1. How much battery life gets drained?
2. Is there any way to game the app, for example by temporarily turning it off or clicking ou

[2018-11-21 13:15] lenasong commented on #14
@huntallcott will do. Quick clarification on iOS:  I think Chris meant (@michael-butler1994 correct me if I'm wrong) that such an app is not really possible unless Apple grants us special permission to access other apps.

[2018-11-21 13:16] huntallcott commented on #12
Thanks @michael-butler1994, this is great.
Here's what I feel like I learned so far:
* Page 3-4: People think they overuse their phones, as @gentzkow already pointed out above.
* Page 5-8: People underestimate pickups (by 20%) and minutes daily usage at baseline (by 10%) -- so there is something, but not huge.
* Page 9: $20 completion payment may reduce attrition somewhat relative to $10.
* Page 1

[2018-11-21 13:19] huntallcott commented on #14
I see, thanks for clarification.
Note that in the event that we have a measurement technology that is way easier for one platform vs. the other, we definitely should consider limiting to participants with phones on that one platform only.

[2018-11-21 15:59] huntallcott commented on #1
Closing this as the pilot is over

[2018-11-21 15:59] #1 closed

[2018-11-21 16:00] huntallcott commented on #2
closing this for now

[2018-11-21 16:00] #2 closed

[2018-11-21 16:56] huntallcott commented on #13
Hi @lenasong @gentzkow,
I thought more about some experimental design issues this morning.
1. After some emailing with Lena, it seems to me that identification of temptation is going to be tricky given the presence of the built-in screen time controls. These controls are a soft commitment that allows you to make it a bit harder on your future self if you go over some limit. *For the impact evaluat

[2018-11-24 21:32] gentzkow commented on #14
@huntallcott @lenasong Thanks. Good to keep learning more on this front. Let me know what you learn from the demo w/ Chris. I remain skeptical overall about the cost-benefit of using an app like this relative to the screenshot method, which seems to be working well. But happy to keep discussing.

A list of concerns:

1. I think it would be costly to limit the study to Android only.

2. A custom de

[2018-11-24 22:17] gentzkow commented on #13
@huntallcott @lenasong

I'm not sure how concerned to be about (1). One way to think about it is that we will be identifying the temptation parameters given the baseline rate of commitment device / monitoring usage. That would presumably be less temptation than if we fixed such usage at zero, but it's arguably the more interesting parameter for policy. I suspect baseline usage is low enough that t

[2018-11-25 20:43] michael-butler1994 commented on #12
@huntallcott @lenasong @gentzkow

Here's a pdf with more results [10_25_pilot1_sum_stats.pdf](https://github.com/huntallcott/PhoneAddiction/files/2613487/10_25_pilot1_sum_stats.pdf)

I've added a few new tables related to Use by App category, the Baseline Exploratory questions, Completion Payments, and our Treatment Restrictions. I also made significant revisions to the Attrition table, and the Ph

[2018-11-26 01:41] huntallcott commented on #12
Thanks @michael-butler1994, this is great. I have the following observations:
1. Minor: in future it’s helpful if you can order the results "mathematically" instead of alphabetically, e.g. (Agree, Neutral, Disagree) instead of (Agree, Disagree, Neutral).
2. Lots of people are using screen time already as of October, and those who don’t use it want to experiment with it. This makes me think that a

[2018-11-26 03:05] huntallcott commented on #14
@michael-butler1994 can you also ask Chris what he knows about installing "toolbars" to measure web clicks, both on phones and computers? We might possibly want this as an outcome (measuring substitution to web browsers after we force people to reduce app usage).

I also want to highlight on this thread @gentzkow's [excellent point](https://github.com/huntallcott/PhoneAddiction/issues/13#issuecomm

[2018-11-26 03:16] huntallcott commented on #13
Some thoughts:
1. As Michael found in #12, it looks like there is quite a bit of self-reported usage of at least parts of the screen time app.
2. If parental controls turns out to be feasible, you could imagine two treatment arms, one with forced compliance via parental controls and one without.
3. I actually think that identification of partially naive temptation is *harder* if we implement force

[2018-11-27 02:08] lenasong commented on #14
Cool! @michael-butler1994 and I can certainly try out family control.

[2018-11-27 17:11] michael-butler1994 commented on #14
@huntallcott @gentzkow @lenasong Thank you all for the suggestions. Lena and I created a [meeting notes](https://docs.google.com/document/d/1efh3GDW-fEvaAtakGw7F8yzi07YyzvJeJmKskmydSFw/edit) doc (also saved on dropbox) for our meeting with Chris . Feel free to add any additional questions to it before 3pm EST today.

@huntallcott I will ask about the web toolbars. Another thought: Chris's tracker

[2018-11-28 14:38] michael-butler1994 commented on #14
@gentzkow @huntallcott . @lenasong and I had another productive meeting with Chris. While he didn’t have a personal demo for us, he showed us the data collection dashboard for a very similar app. We also asked him a bunch of questions. We learned the following:

**Data collection strategies with Usage Controls**
- Android: not feasible on third-party app yet. Need to see what functions are availab

[2018-11-29 16:10] huntallcott commented on #14
Sorry for delay. Looks like I missed out on this morning's meeting. Looking forward to the next update.

[2018-11-29 18:53] michael-butler1994 commented on #14
@huntallcott @gentzkow . @lenasong and I had another good meeting with Chris. We asked Chris a few more questions, and Lena downloaded his app. Over the next few days, we're going to play around with Chris's app, as well as Apple's Screen Time parental control functionality. We'll report back before Monday morning. We will outline the following for each data collection mechanism (Screentime, Scree

[2018-12-02 15:34] lenasong commented on #13
@huntallcott  will do - thanks for the outline. @michael-butler1994 @gentzkow I've started an [agenda](https://docs.google.com/document/d/1uF5U7wWL5feaprPx-c65ZvAv14yPVABXF7zSgaGmmMM/edit?usp=sharing) for our Monday meeting and will summarize any progress here.

[2018-12-04 16:10] huntallcott commented on #13
@lenasong @michael-butler1994 @gentzkow,
Yesterday I think we tentatively decided that we want to focus on the max minutes design instead of the price per minute design because (i) it's easier for people to understand, and (ii) it will probably have larger impacts on actual behavior. But we also foresee that this will make it harder to estimate the temptation parameter.

Another option is to think

[2018-12-04 16:15] huntallcott commented on #12
Thanks @michael-butler1994, this is great.
In the open answers, the main thing this makes me think about is whether anything other than a semi-hard commitment (i.e. a reminder or an app closing when you go over your desired time limit) will have much impact on people's usage. This definitely influences the experimental design discussion ...

[2018-12-04 19:32] michael-butler1994 commented on #14
@lenasong @gentzkow @huntallcott I wanted to update everyone on a few next steps.

**Pilot With Chris's App**
 - Hunt, Lena, and I are meeting with him tomorrow at 3pm. Here's a [doc ](https://docs.google.com/document/d/1KJYMD3Kfhjevz4SnIYLpO9CPphNvXKHiJchOQL5LJMs/edit)with our notes for the meeting.
- Before the meeting, it would help to have a better understanding of our timeline, specifically:

[2018-12-04 22:24] gentzkow commented on #13
I like your proposal for the price approach. The key to me is the ability to send frequent notifications. So long as we can remind people frequently about usage relative to a target we should be in good shape.

@huntallcott: Are there any good touch points here in the energy literature? I would have thought experiments varying electricity prices would face similar issues.

An advantage of price be

[2018-12-04 22:45] huntallcott commented on #13
@gentzkow yes there are non-linear pricing papers (Reiss and White, Ito, others) looking at block pricing schedules, but many papers just abstract away from the issue and/or focus on settings where the price structure is just fixed + constant marginal.
The papers I've been concerned about are more about how to estimate partially naive present bias in dynamic models. The most recent one to look at

[2018-12-04 22:46] huntallcott commented on #13
And oh yes, sorry there are papers on providing info about time-varying prices, including an old paper I worked on, a paper in AER by Jessoe and Rapson, and obviously the work on cell phones by Grubb. But I think the basic finding is that providing info on prices helps people to understand prices ...

[2018-12-05 16:19] michael-butler1994 commented on #14
Lena and I met with an AntiSocial developer last night, and I still can't tell how legit they are.  Lena’s AntiSocial app crashed this morning. If we don't need parental controls, Chris's app is definitely more promising. During the meeting, we learned the following:
- They have contracts with Lockheed Martin and DARPA
- They work with Arizona State professor [Katina Michael](https://isearch.asu.e

[2018-12-05 16:43] gentzkow commented on #14
Thanks @michael-butler1994.

I think having an app that crashes at any meaningful frequency would be a huge problem for us and would drive a lot of attrition. So it sounds like (the other) Chris's app may be the most promising.

I suspect trying to impose parental controls is just too ambitious tech wise, unless it comes from the built in OS tools like ScreenTime.

[2018-12-05 19:49] huntallcott commented on #14
Thanks @michael-butler1994 @lenasong

1. Even if we don't use Anti-social for an experiment, I am intrigued that they have 350k users and might be willing to share data. I think that there would be interesting introductory/descriptive work on:
* how much do people use different apps
* what apps people want to block the most?
* when people block, how much do they restrict themselves relative to the

[2018-12-05 21:17] gentzkow commented on #14
On (2), I am pretty pessimistic. When I visited Apple before I asked about this kind of collaboration and it sounded like it was far from the range of the possible. I didn't ask specifically about ScreenTime parent controls, however. I am happy to try again -- low expected payoff but also low cost.

[2018-12-06 13:58] michael-butler1994 commented on #14
@huntallcott @gentzkow @lenasong.

Our meeting with American Chris went well. Here are the key takeaways:
 - He will not charge us for using his app in the pilot
 - The app will be ready for participants to download on Wednesday, December 12th.
 - We plan to send him the following [message](https://docs.google.com/document/d/1KJYMD3Kfhjevz4SnIYLpO9CPphNvXKHiJchOQL5LJMs/edit) in a few hours, outlin

[2018-12-06 15:39] lenasong commented on #13
@huntallcott @gentzkow the new price approach sounds good. Should we test it out in the pilot we are starting?

Couple of thoughts:

- Do we want to do price/minute or price/hour? It seems easier (and more substantial) to talk about price/hour, but we could make it clear that they will be paid pro rata?

- What about setting the "intercept" to be a fixed level L for everyone, instead of the person

[2018-12-06 16:47] gentzkow commented on #14
Thanks. This is great -- very promising.

I wonder if we don't want to start the process of getting American Chris set up in the Stanford system as a vendor so we'll be ready to pay him if/when we get to that. We can make clear to him that this isn't a commitment to hire him -- we just want to avoid logistical delays later on.

[2018-12-07 01:28] michael-butler1994 opened #15 "Pilot 2 Management"
@huntallcott @lenasong @gentzkow

Opening this thread to discuss logistics/management of Pilot 2. American Chris's app should be ready Wed 12th, so I think we should send the Baseline on Thursday the 13th.  Here are a few things we should decide, ordered by urgency.

1. **Before Recruitment Begins**
   - Payoff Structure, so we can advertise potential payments correctly. For the last survey we use

[2018-12-07 14:36] huntallcott commented on #14
Agree this is great info. Thanks to both of you for pushing this forward. You're doing a great job.
If Anti-Social can get us a bug-free, easy to use, and tamper-proof app, then that's certainly interesting, but I'd love it if you could explore whether that's actually going to work.
Added another quick clarifying comment to the doc on things we'd eventually want from Chris.

[2018-12-07 14:45] huntallcott commented on #15
Thanks @michael-butler1994 ,
Let's do the same length as before, and same consent form. Let's not advertise a specific amount of incentives because we need to nail that down.
I'd like to modify the baseline survey --
1. Take out the qualitative/open answer/exploratory questions we had.
2. Change the incentive structure to be a price per hour of usage instead of a maximum time limit.
3. If we have

[2018-12-07 14:47] huntallcott commented on #13
@lenasong just saw this after my other post. Yes this looks good for the pilot. Thanks.

[2018-12-08 18:45] lenasong commented on #14
@gentzkow I was thinking about this too. I'll check with Shehnaz. From our conversation on this when we were working with the data entry company we might need a bit more information before the process can be started - but let's see what she says.

We negotiated further with Australian Chris and his quote came down substantially - see the updated antisocial notes [here](https://docs.google.com/docu

[2018-12-08 18:57] gentzkow commented on #14
Great. Thanks @lenasong.

[2018-12-09 20:35] michael-butler1994 commented on #15
The recruitment form is live! I will post some numbers tomorrow on how the ad is doing.

[2018-12-09 22:46] gentzkow commented on #13
@huntallcott @lenasong: One of the things we learned from the post-endline interviews in SocialMediaEffects is that people had a lot of time understanding the BDM mechanism. Does that give us any pause with our current "Option A vs Option B" approach here? I'm a bit concerned that this will also be confusing for people, and we might want to think about ways to simplify further.

I have no problem

[2018-12-10 00:36] huntallcott commented on #13
@gentzkow great question.
I think we are right to have a general wariness of WTA elicitation using BDM or MPL.
But I believe (also from parallel conversations with Dmitry Taubinsky) that MPL is better than BDM for two reasons:
1. With MPL, it's a bit easier to explain that you should answer honestly, and whereas with BDM it's easier to start thinking that you're making a strategically non-truthful

[2018-12-11 17:04] huntallcott commented on #15
@lenasong , many thanks.
I made some edits to the [experimental design doc](https://docs.google.com/document/d/1WH9EAjsdJhLjE0jzieUN4UgSiaR3ug8kdIgyjVhBfGw/edit). I think we generally want to follow the wording and check-screens of the payday lending survey here. I wrote in my opinions.
[Qualtrics Survey.pdf](https://github.com/huntallcott/PhoneAddiction/files/2668530/Qualtrics.Survey.pdf)

You'll

[2018-12-11 18:06] gentzkow commented on #15
Thanks @lenasong. This looks great. I really like the steps of asking them hypotheticals then asking them to practice.

I was a bit confused by the Midline questions though. Have these not been updated? I would have thought we'd re-ask the price per hour choices in the midline instead of switching to fixed price.

[2018-12-12 02:56] lenasong commented on #15
@huntallcott thanks for the edits! File's updated with the same questions for midline.

[2018-12-12 16:41] michael-butler1994 commented on #14
@huntallcott @gentzkow @lenasong
Lena and I met with Australian Chris last night. Here are a few key takeaways:
 - By Friday morning, he’ll publish a stable version of the AntiSocial app on the Google App Store, which we can test with pilot participants for free. With this demo:
     - Participants need to enter an access code and their participant code after installation so we can identify them i

[2018-12-13 18:47] huntallcott commented on #14
Thanks to both of you.
* Yes to trying both apps.
* I'd be happy to do even 20 percent or more with both apps -- 10% of 30 is not too many, especially if we have some attrition.
* For the pilot we don't need to restrict to sophomores and juniors. I should have thought of this earlier. Perhaps that will help a lot to include freshmen and seniors.

[2018-12-13 18:52] huntallcott commented on #15
@lenasong great, thanks.
I think a great next step would be to code this up into Qualtrics and we can see how it looks. One minor thing is that you might or might not choose to make the date a variable input instead of text, in case we delay the period until after Dec 21. Up to you.
Thanks again!

[2018-12-13 19:36] lenasong commented on #15
@huntallcott the WTA is mostly coded; we are waiting for instructions from the Chrises to add in an app installation section. Will send you and @gentzkow the survey when it's ready - by latest tomorrow afternoon.

Recruitment is slow - we are at 28. Should we delay the baseline survey to this Saturday and just roll with whatever number we recruit by then? I'm going to remove the sophomore/junior r

[2018-12-13 23:07] huntallcott commented on #15
Great, thanks, and yes to starting Saturday.

[2018-12-15 02:00] michael-butler1994 commented on #15
@huntallcott @lenasong @gentzkow
Here's the [latest draft](https://nyu.ca1.qualtrics.com/jfe/preview/SV_000zvpoxUNFLCId?Q_SurveyVersionID=current&Q_CHL=preview) of the Baseline survey on Qualtrics. Let us know if you have any feedback! We plan to send the survey out tomorrow, early afternoon.

Note: this preview allows you to see all questions related to app installation and transcript uploading.

[2018-12-15 14:32] huntallcott commented on #15
@michael-butler1994 this is great, thanks.
I have a few comments, see this doc, also stored in dropbox/PhoneAddiction/Meeting Notes/Hunt's comments 12-15-2018 on pilot.docx

[Hunt's comments 12-15-2018 on pilot.docx](https://github.com/huntallcott/PhoneAddiction/files/2682678/Hunt.s.comments.12-15-2018.on.pilot.docx)

[2018-12-17 23:01] michael-butler1994 commented on #15
@gentzkow @huntallcott @lenasong

Quick update: the baseline was sent out yesterday, and we're waiting to see if participants have been able to set up the tracking apps correctly.

In other news, recruiting with Facebook ads was significantly less effective for the second pilot. In this pilot, we spent $572 to recruit only 35 participants. In the first pilot we spent $224 to recruit 73 participant

[2018-12-21 04:52] lenasong commented on #15
@huntallcott @gentzkow @michael-butler1994
I've started a draft of the midline survey to be sent out by end of this week. See here for a [preview](https://nyu.ca1.qualtrics.com/jfe/preview/SV_9FE1fT1yfcFOqgZ?Q_SurveyVersionID=current&Q_CHL=preview) that includes both treatment and control reveals.

A few things to highlight that I'd love to get your feedback on:
- for treatment assignment: I'm thi

[2018-12-21 20:59] huntallcott commented on #15
@lenasong @michael-butler1994 great and many thanks.
#### Your bullets in order
1. OK
2. Yes if possible. You will have those data?
3. Agreed, good choice.
4. I don't think we want coaching on time inconsistency for now, although cool idea to save for later. I would just focus on helping them to understand the mechanics of the payment and how their usage maps into their payment.
5. Great.
6. Great

[2018-12-24 02:36] lenasong commented on #15
@gentzkow @huntallcott thanks and happy holidays to you too!!!

We've paid the baseline completes (20 in total) and Michael is finalizing details of the midline.

[2018-12-25 15:55] huntallcott commented on #15
@michael-butler1994 thanks for making this happen! Merry Christmas!!!

[2019-01-02 20:10] lenasong commented on #15
@gentzkow @michael-butler1994 @huntallcott happy new year!

Here's a draft of the [endline survey](https://nyu.ca1.qualtrics.com/jfe/preview/SV_eaIv1KoA5AjsSAB?Q_SurveyVersionID=current&Q_CHL=preview), with questions added about app comparison, antisocial blocking usage and gaming. Feel free to make any edits.

We have a call scheduled with AntiSocial Chris tonight to work out issues with data exp

[2019-01-03 22:36] huntallcott commented on #15
@gentzkow if you see this I think your feedback would be great -- last chance to get survey responses/feedback from people in the pilot.

Here are some thoughts:
0. @lenasong @michael-butler1994, thanks much, you guys are great.

1. I’m confused about the structure. (Sorry to be out of the loop.) Does each person have only one $FieldApp? If so, how are they able to compare the usage counts on the

[2019-01-03 22:45] huntallcott commented on #13
@lenasong,
Would you be interested to take a stab at completing the two-period model? I think there are two things remaining: partially naïve habit formation, partially naïve temptation.

1. Unless Matt objects, let’s get people’s predicted habit formation from an improved version of the Facebook design. For all subjects, in the survey before period t, we are doing MPLs for restrictions in period

[2019-01-04 16:16] michael-butler1994 commented on #15
@huntallcott @lenasong @gentzkow  I made a few revisions to the Endline survey to address Hunt's feedback. Here's a [link](https://nyu.ca1.qualtrics.com/jfe/preview/SV_eaIv1KoA5AjsSAB?Q_SurveyVersionID=current&Q_CHL=preview) to a preview of the revised survey. The preview's survey flow assumes that we were chosen to reduce our phone usage and that we have been using Antisocial and Pennyworth.

 1.

[2019-01-05 01:49] gentzkow commented on #15
Thanks @huntallcott @michael-butler1994.

I took a quick look and I think the basic structure is fine. It feels a little long to me with lots of open-ended questions; if there are any questions that we care relatively less about, we might consider dropping them to improve response quality on others.

Personally, I felt like the number of questions about Pennyworth vs. Antisocial was overkill. We m

[2019-01-06 21:06] michael-butler1994 commented on #15
thank for the feedback @gentzkow
I've reduced the number of open ended questions comparing the apps. Here's a[ link](https://nyu.ca1.qualtrics.com/jfe/preview/SV_eaIv1KoA5AjsSAB?Q_SurveyVersionID=current&Q_CHL=preview) to the current survey draft.

Lena and I plan to send out the Endline tonight around 9pm ET. We'll confirm when it's live.

[2019-01-06 21:53] gentzkow commented on #15
Great. Thanks!

[2019-01-07 01:06] lenasong commented on #13
@huntallcott I'm back from Atlanta. Working on this in the next couple of days.

[2019-01-07 02:48] michael-butler1994 commented on #15
@huntallcott @gentzkow @lenasong
Endline is live! I'll start a "Pilot 2 Results" issue later this week.

[2019-01-09 16:59] lenasong commented on #13
@huntallcott @gentzkow I've updated the [model ](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf)with partially naïve habit formation and temptation. This is in Section 2F and 2G, starting at page 8.

As Hunt suggested, to keep the algebra clean I wrote up how we could identify betahat/beta in a one-period model and projection bias alpha in a two-pe

[2019-01-10 02:42] huntallcott commented on #13
@lenasong this is great.
1. Minor but shouldn't you use \beta instead of \bar{\beta} just to be standard?
2. You suggested asking "how much do you think you *should* consume later at t=1?" I think this is the right idea for suggestive evidence (e.g. our questions like "do you want to use your phone less?"), but for the actual paper referees will want us to actually estimate demand for commitment t

[2019-01-12 02:33] lenasong commented on #13
@huntallcott agreed. From what I understand, equation (31) should provide the projection bias identification equivalent to that in the FB project. Only wish the expression was as clean!

I'm leaving for fieldwork in Ghana and will be back next weekend. Look forward to @gentzkow's feedback and working on the dynamic model next next week.

[2019-01-12 06:45] gentzkow commented on #13
Sorry for the slow reply! Hoping to get to this soon.

[2019-01-17 17:10] michael-butler1994 opened #16 "Pilot2 Results"
@gentzkow @huntallcott @lenasong

Here's a draft of the Pilot2 Results
[1_17_2019_pilot2_sum_stats.pdf](https://github.com/huntallcott/PhoneAddiction/files/2769742/1_17_2019_pilot2_sum_stats.pdf)
For reference, here's a draft of the Pilot1 Results
[12_8_18_pilo1_sum_stats.pdf](https://github.com/huntallcott/PhoneAddiction/files/2769745/12_8_18_pilo1_sum_stats.pdf)

A few things to note:
 - The Pen

[2019-01-21 21:22] huntallcott commented on #16
@michael-butler1994, thanks for doing this!!! Fantastic.
1. I especially appreciated your short bullet points interpreting the tables and comparing the results to the results in Pilot 1. Table 16 is a nice idea, as is Figure 2 – I appreciate how you’re seeing how the quantitative/WTA questions should match up to the “qualitative” questions.
2. It looks to me like things went pretty well, e.g. the

[2019-01-23 05:52] gentzkow commented on #13
Thanks @lenasong for the great work on the model and @huntallcott for the tips on the paper.

Here are some thoughts on the model.

1. I like the idea of supplementing analysis based on WTA with prediction questions. The Acland and Levy paper uses prediction questions in this way. It seems to me like if what we're trying to get at is misprediction looking at directly how subjects predict is a good

[2019-01-23 06:19] gentzkow commented on #16
Thanks @michael-butler1994. I agree that this is an outstanding writeup. Super clear. I really appreciate the bullet summaries in addition to the figures / tables.

I also had the general impression that things went well and that we basically have a design that works.

* I found the big mean differences in usage + perceptions between pilot1 and pilot2 surprising. It's possible it is just Android v

[2019-01-24 00:50] michael-butler1994 commented on #16
@huntallcott @gentzkow @lenasong . I’ve updated the results slightly: I corrected a typo on the Perceived minus Actual Use table (all results had to be multiplied by -1), and I categorized a few additional apps as social media for Pennyworth, causing social media use to increase in the results. Here are the new results:
[1_23_19 Pilot 2 sum stats.pdf](https://github.com/huntallcott/PhoneAddiction/

[2019-01-24 01:50] gentzkow commented on #16
Thanks! All very clear.

Sounds like full steam ahead on this basic design using Pennyworth.

I do think we want to rescale payments based on what we learned here.

[2019-01-24 23:49] michael-butler1994 commented on #16
Here’s an attempt to explain why Perceived Use >> Actual Use in Pilot 2. To summarize, pilot 2 perceived use is only greater than actual use at baseline. This baseline discrepancy is likely due two stories: 1) participants considered phone calls and listening to music as use while pennyworth/antisocial do not; 2) either participants overestimate their use or pennyworth/antisocial underestimate use

[2019-01-25 02:51] huntallcott commented on #16
Thanks @michael-butler1994, this is very interesting, and very important for us to be thinking about how we word the surveys and what we're measuring. So many thanks.
Comments, mostly just repeating what you said:
1. It seems clear that initial uncalibrated beliefs shouldn’t be used as a measure of whether people over-or under-estimate use.
2. I think that the pennyworth definition using “screen o

[2019-01-26 02:59] huntallcott commented on #6
@gentzkow @lenasong @michael-butler1994,
I am pasting my correspondence with Caroline Hoxby below. Seems that the bottom line is that even if we could work out logistics, the NSC doesn't have coverage of enough schools for this to be worthwhile.
So I think we're back to two two options with transcripts:
1. Work with a smaller number of specific schools and coordinate with registrars as needed for

[2019-01-26 17:56] michael-butler1994 opened #17 "Full Experiment Management"
Started this thread to discuss management of the Full Experiment. I’ve reformatted the notes from yesterday’s meeting. It’s now a checklist of things we would need to get done to run the full experiment this semester. Please take a look [here](https://docs.google.com/document/d/14rvUWxbH7xR8MlNCIUGnnSr33aTU1e_bXf7N_cccHSo/edit).  I realize that the notes contain a bit of content discussed on other

[2019-01-26 18:17] gentzkow commented on #16
Thanks @michael-butler1994. I agree w/ @huntallcott's comments.

I would add that we probably want to make even more clear to people that phone use, listening to music, etc. are *not* included in the time if the screen is off.

[2019-01-27 16:45] lenasong commented on #17
@michael-butler1994 thanks for the checklist.

Thinking about @gentzkow's comment about transcript and whether we will detect any effect, I wonder if it's worthwhile to step back for a moment and consider other objective outcomes (and minimize selective attrition if possible).

Here are a couple of ideas we've discussed previously:

1. task performance after endline
There are several psychology st

[2019-01-27 17:40] huntallcott commented on #12
This is great, and closing this issue unless there's more to do on pilot 1.

[2019-01-27 17:40] #12 closed

[2019-01-27 17:41] #4 closed

[2019-01-27 17:41] #10 closed

[2019-01-27 17:42] huntallcott commented on #15
@michael-butler1994 thanks for doing this. Am closing this issue unless there's more to do on Pilot 2?

[2019-01-27 17:42] #15 closed

[2019-01-27 17:56] #9 closed

[2019-01-27 17:58] huntallcott opened #18 "Finalize impact evaluation outcomes"
The goal of this issue is to finalize the impact evaluation outcomes.

Issues related to SWB measurement stay in #3, issues related to transcripts stay in #6, and we can start other threads in the future if any specific outcomes merit those.

I developed a [google doc](https://docs.google.com/document/d/1v3ORShPNL7wyM_Db71ZYpyVJguEpft-HaDC41V-_VcU/edit?usp=sharing) to develop the basics of the out

[2019-01-27 18:21] michael-butler1994 commented on #15
Ok to close issue 15 (pilot 2 management). I plan to post a few more
results tomorrow on issue 16 (Pilot 2 Results).

On Sun, Jan 27, 2019 at 12:42 PM Hunt Allcott <notifications@github.com>
wrote:

[2019-01-28 17:11] lenasong commented on #18
I started an [overview](https://docs.google.com/spreadsheets/d/1Lgp7AWP0C3jtGS5wLbBVMDiKCP6NuzYXAc6jqhrh3Lw/edit#gid=0) of Twenge outcome variables.

I've highlighted the questions we don't yet have - on depression, suicidal thoughts, alcohol use and sexual activity.

Most of the subjective well-being questions Twenge used are already included in our initial [experimental design](https://docs.goog

[2019-01-28 17:49] michael-butler1994 commented on #16
@huntallcott @gentzkow @lenasong
Here's an updated version of the pilot 2 results.
[1_28_19_pilot2_sum_stats.pdf](https://github.com/huntallcott/PhoneAddiction/files/2804172/1_28_19_pilot2_sum_stats.pdf)

This updated version contains:
- **Use by App for Pennyworth users** (table 15). The only disconcerting takeaway is that launcher app use varies significantly by phone model, but this may have oc

[2019-01-28 18:23] huntallcott commented on #16
Thanks @michael-butler1994,
One quick follow-up. @gentzkow was interested in knowing: "Do we think it's worth doing a statistical test of the effect of incentives on usage?"
It looks like people say they expect that the incentives would have a big impact, and I'm also pasting below the descriptive results table:
![image](https://user-images.githubusercontent.com/23505296/51857151-8aab5580-22ff-11e

[2019-01-28 19:01] michael-butler1994 commented on #16
not pretty, but i think it's correct.
![screen shot 2019-01-28 at 2 00 53 pm](https://user-images.githubusercontent.com/35438895/51859469-31462500-2305-11e9-9115-818e79c51861.png)

[2019-01-28 20:17] huntallcott commented on #16
got it.
1. so to me this says that we may be getting some reduction of between 0 and 1 hours per day, but we can reject reductions of more than 1 hour per day. is that correct?
2. i also think this means that people don't reduce their usage as much as they predict they would reduce their usage in the belief elicitation questions, correct?
3. related to (2), can you try one more thing: instead of t

[2019-01-29 20:02] michael-butler1994 commented on #14
@lenasong @gentzkow @huntallcott

1-28-19 Write up
Lena and I had productive meetings with Chris and Ericka. Here’s a recap:

**Chris - Pennyworth**
 - **General Updates**: For the full experiment, Chris will update Pennyworth and place it on the app store. We have to come up with a new name for the app though. Lena and I were thinking of something distinct  and easily searchable. A few candidates

[2019-01-30 01:09] huntallcott commented on #14
Awesome and great, @michael-butler1994 @lenasong
* Chris: Great and thanks.
  - Time of day controls and hard controls: let's discuss tomorrow in our meeting.
  - Under 17: for the app, let's just proceed as if it's for people 18+.
* Web Historian: agree with you that the objective is initial consent followed by regular uploads of their browser data to our server. Seems like getting this off of Ch

[2019-01-30 17:17] michael-butler1994 commented on #16
@huntallcott take a look section 5 "Statistical Test on Outcomes Interests" in this updated report.
[1_30_19_pilot2_sum_stats.pdf](https://github.com/huntallcott/PhoneAddiction/files/2813689/1_30_19_pilot2_sum_stats.pdf)

Short responses:
 - 1: we can reject reductions of more than 1 hour per day, depending on model specification. check out table 17.
 - 2 and 3: Yes, it seems that participants do

[2019-01-30 20:35] lenasong commented on #18
1. I went through all relevant papers by Twenge on her website and Google scholar. Here's an [overview](https://docs.google.com/spreadsheets/d/1Lgp7AWP0C3jtGS5wLbBVMDiKCP6NuzYXAc6jqhrh3Lw/edit#gid=0) that summarizes the outcome variables, with the same ones highlighted before.

2. I added 4 possible cognitive performance tasks to the [outcome list](https://docs.google.com/document/d/1v3ORShPNL7wyM

[2019-02-01 00:04] lenasong commented on #14
@huntallcott @gentzkow, here is the [statement of work](https://docs.google.com/document/d/113WRz0GwutgrudXurUd8er8SIngClgLyTDdjb-R_4Qw/edit?usp=sharing) from Chris.

Couple of things to highlight:
- Cost of the project: $10,000 for Chris’ work + AWS server costs
- The blocking will work as we discussed during our meeting - the app interrupts the foreground usage of blacklisted apps. Note that it

[2019-02-02 05:33] gentzkow commented on #14
Thanks.

I think the ideal thing would be to have two functions. First, the user can push a button on the notification to allow themselves to use the app interrupted for an extra T minutes for some T we define.  We track how often they push this, so we can define a price $p that they pay each time they push this. The message should be customizable so it can indicate the values of T and $p. Separat

[2019-02-02 05:35] gentzkow commented on #14
I'd say yes.

I have *no idea* what any of these names mean. 😄  Is there a reason why we don't want a descriptive name (StanfordStudyApp or something)? If we're aiming for random, from that list I'd prefer BubbleMeter.

[2019-02-03 17:41] huntallcott commented on #13
Hi all-
I've been thinking more about this and have a couple of questions/observations:
1. I continue to think we want to avoid non-linear pricing schemes, and instead focus our price mechanism as being something like "$0.50 or $1 per hour you reduce relative to your baseline average over the next 20 days." So @michael-butler1994 in one of your excellent emails to me, you proposed a non-linear pri

[2019-02-03 22:38] huntallcott commented on #14
RE: blocking:
1. Does the user set the blocking, or we can set the blocking based on survey results and randomization? Just want to be clear on the possibilities.
2. Remind me, do we trust the time use measurement for specific apps as much as we trust the measurement of overall phone use?
3. Let's hold off on the exact design of the blocking pending our discussion in #13. Seems like we need to res

[2019-02-04 18:53] michael-butler1994 commented on #14
@gentzkow and @huntallcott  thanks for the feedback. My responses are organized by hunt’s bullets.
 1. **Hard Control Mechanism**: I think either would be possible. Here’s the latest pipeline that Chris proposed:
    - Before midline: we randomize treatment groups
    - During midline: we elicit blocking preferences, reveal treatment groups, and inform participants that hard controls will be put e

[2019-02-04 18:59] gentzkow commented on #14
Thanks @michael-butler1994.

The structure of the blocking sounds great. I actually really like the fact that users don't set it themselves. They install the app, and then the blocking gets turned on by us. Obviously we'll want to inform them of this possibility at the consent stage.

Seems like there's still an open question about how easily we can give people the ability to turn blocking off tem

[2019-02-04 20:22] michael-butler1994 commented on #14
@gentzkow thanks for the feedback. I've drafted an [email](https://docs.google.com/document/d/18IP8Or9KalDGBbAYrYJB1890YW3hxID08GI3boYlE0w/edit) to Chris which contains our revisions to his proposed statement of work. @huntallcott do you have any other thoughts before we send this to Chris?

[2019-02-04 20:37] gentzkow commented on #18
@huntallcott @lenasong Sorry to be chiming in late here.

I've reviewed the [Google Doc](https://docs.google.com/document/d/1v3ORShPNL7wyM_Db71ZYpyVJguEpft-HaDC41V-_VcU/edit#) plus the summaries of [cognitive effects literature](https://docs.google.com/document/d/1XB3sPR1sCGzi8Pff2P6gnMZ9GXvHamjKiRWrLaD37SU/edit) and [Twenge outcomes](https://docs.google.com/spreadsheets/d/1Lgp7AWP0C3jtGS5wLbBVMDi

[2019-02-04 20:51] huntallcott commented on #14
I agree with all of the above, including getting Chris started on the base functionality.
I am still trying to figure out how we map the hard blocking functionality into a model we can use to estimate beta and beta hat, per #13, and am interested in @gentzkow's comments. Questions include the non-linear nature of the price in the snooze button idea (there is zero price on days where you are below

[2019-02-04 21:00] gentzkow commented on #13
Thanks @huntallcott. I haven't fully thought through the details of identification here but let me give you some quick reactions.

1. From what I understand about the programming costs I think we should limit ourselves if possible to blocking restrictions that we set on our end rather than creating UI to allow people to control it themselves. That doesn't necessarily rule out what you are suggesti

[2019-02-04 22:10] michael-butler1994 commented on #14
@gentzkow The "snooze button" you propose could be something we ask Chris to develop, in addition to the base mechanism I describe above. In the base mechanism, there should be an "opt out button" which any participant in the hard control group can push, allowing them to permanently remove the hard controls for the duration of the study. The "opt out button" would prevent users from removing the t

[2019-02-05 00:55] michael-butler1994 commented on #14
@gentzkow thanks for the clarification! I'll make this all clear to Chris.

[2019-02-05 13:03] lenasong commented on #14
Quick comment as an android user: the app name doesn't have to be one word (even though our collection of random names suggested so). How's Stanford Experience Study, or a shorter name like Stanford Dashboard or Stanford EconLab?

Sidenote - while I was double checking our name works on Google Play, I found the [Stanford Screenomics](https://play.google.com/store/apps/details?id=edu.stanford.commu

[2019-02-07 15:27] lenasong commented on #14
@huntallcott @gentzkow here's the most recent version of the [statement of work](https://docs.google.com/document/d/1c2aoDnhdRD0LITEuqcR3l_9aCiQhkc8HgFDCBEILjQU/edit?ts=5c523795#heading=h.dv62ijq8ygpz).

Note the revised more general language about hard controls and timeline of the study (deliverable by Chris with a deadline of Feb 25 and continues until June 30). If this looks good I'll forward i

[2019-02-07 16:50] gentzkow commented on #14
Thanks @lenasong. This looks great to me. My only concern is about the
dates -- I think we want to reserve the option to decide later when the
study starts, and not pay any penalty if we decide to delay it. I'd vote we
have a deadline in the contract for the app to be ready to go live, and
then an understanding of the amount of monitoring / server time that we get
once the experiment launches, bei

[2019-02-07 16:53] huntallcott commented on #13
@gentzkow @lenasong @michael-butler1994,
I have posted the revised identification document as promised. I'm sorry it took so long. I spoke with Acland, Levy, and Taubinsky about this stuff and needed to let thoughts settle.
Two key things:
1. @gentzkow you'll see that while I love the costly snooze button and share your broad intuition as to the direction of the effects as you suggest above, I don

[2019-02-07 17:10] huntallcott commented on #14
@lenasong this looks good to me as well. Agree with @gentzkow that we need flexibility on timing.
One other question is that it would be good to make sure you have a good faith agreement with Chris on the hard blocker development. Right now it looks like he'll develop a hard blocker within the $10k budget unless there are unexpected additional requests from us; is that correct?

[2019-02-07 17:21] huntallcott commented on #13
@gentzkow @lenasong @michael-butler1994 ,
There is one additional thing worth highlighting from my conversations with Taubinsky and Matthew Levy. Both of them were quite focused on separation of habit formation (like a change in marginal utility) from learning.
* Taubinsky's idea was to do some sort of cognitive task and measure whether Treatment vs. Control groups get rid of their phones during t

[2019-02-07 19:45] lenasong commented on #14
@huntallcott @gentzkow thanks for the feedback. Agree on the flexible timing and Chris has confirmed that
- he's OK with flexible timing. Ongoing cost will be $120/month for AWS server as long as the total study time is within a year, starting from app delivery (projected to be Feb 25). Beyond one year there will be ongoing support fees. See [here](https://docs.google.com/document/d/1c2aoDnhdRD0LI

[2019-02-07 21:17] huntallcott commented on #14
Stanford Study or Phone Dashboard or Phone Study sound fine to me.
Also, let's keep the legal team out of it. If there is a use of names issue for any reason, then let's just do something like Phone Dashboard. Boring is OK here I think.

[2019-02-07 21:59] gentzkow commented on #14
Yes. Let's all it Phone Dashboard. I hadn't thought about the legal issue
but we may bet into trouble using the Stanford name.

[2019-02-08 05:19] huntallcott commented on #18
Lena, thanks for doing this, and Matt thanks for the thoughts you posted.
Some additional minor thoughts:
1. I like Lena’s question about phone use during class time. Perhaps this
is part of a broader set of questions around when people restrict their
usage in response to incentives. This identifies the lowest- value/marginal
usage. Do people restrict during class time? Weekends or weekdays? Late

[2019-02-11 01:42] gentzkow commented on #13
Thanks! A first reaction is: Can you give me the pitch for why habit formation vs. learning is a super interesting distinction here? I'm inclined to agree that it's interesting, but the two seem to blur together to some extent -- a realistic model of learning includes some forgetting, and once you have that the differences between the two are pretty delicate. From a policy point of view, what does

[2019-02-11 14:20] huntallcott commented on #13
* Re: vacations, yes the idea is that they disrupt the habit.
* I'm not hung up on this distinction either, just sharing what others have said. I think that people who are really deep in these models want to make sure that we are applying the right model to the right phenomenon. If we are going to model this as a change in marginal utility, we hope that it's indeed a change in marginal utility, no

[2019-02-11 18:32] lenasong commented on #13
@huntallcott @gentzkow @michael-butler1994
I've added some notes in the [identification document ](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf) starting at page 6 in section 4.

This outlines the ideas we discussed in the meeting, including identification for betahat and demand for commitment by comparing the consumer surplus implied by predicte

[2019-02-11 23:19] lenasong commented on #18
@huntallcott @gentzkow thanks for the feedback. I've incorporated your comments in the [outcome list](https://docs.google.com/document/d/1v3ORShPNL7wyM_Db71ZYpyVJguEpft-HaDC41V-_VcU/edit#).

Couple of comments on outstanding items:
-Counts of Instagram posts, Snapchat messages, text messages sent: Facebook and Instagram both have something along the lines of "activity log" where the user can look

[2019-02-12 00:40] gentzkow commented on #13
@huntallcott @lenasong Thanks for all the work on the identification doc. Here are some initial thoughts. Happy to discuss further. By default you can assume things I'm not mentioning here I agree with.

## Blockers

First off, I'm not 100% sure what the proposal is for the blocker condition. Is the idea that subjects in this condition are completely free to choose whether to use the blocker and i

[2019-02-12 16:17] huntallcott commented on #13
Great and thanks @gentzkow. Thoughts below.

### Blockers
1. Agree that we would let people set the blockers however they like and use that for descriptive evidence. In that case, ideally Chris’s app would have an interface that allows people to set the blockers directly on their phone, instead of in qualtrics. Do you all agree? (This is modulo my question in 9 below.)
2. Agreed with Matt’s second

[2019-02-12 20:33] lenasong commented on #13
@huntallcott @gentzkow got it. I was working with a translation of both EV and CE - sorry for the confusion. The [identification file](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf) is updated with the corrections.

Let me know if this makes sense to you now and I can start working on nonlinear pricing.

[2019-02-12 20:39] huntallcott commented on #18
@lenasong thanks for looking into the cognitive tasks and for doing that calculation. I think you wrote out a really sensible argument there.
On the basis of what you wrote, my opinion is that we are unlikely to find any impacts, and indeed so unlikely that I would drop the cognitive tasks from our study.

On the activity log, I think it would be ideal to ask the simplest question possible, e.g. i

[2019-02-13 01:44] michael-butler1994 commented on #18
@lenasong @huntallcott @gentzkow I looked through the Outcomes list and thought of a few additional non-survey variables to measure:

- **Measuring Distraction** : Instead of measuring cognitive function through an experiment, we could passively measure distraction with our web/phone data. Since we have people’s web history, I think we could infer when participants are working or attempting to wor

[2019-02-13 14:05] huntallcott commented on #18
@michael-butler1994 this is awesome, thanks.
* I like the measuring distraction ideas. Would be awesome to flesh that out more, either now or after we get data from the pilot from people's web browsing.
* Measuring sleep. I love this direction. I am not sure that the alarm app is optimal. I think I'd want to measure the following things: (i) sleep quality, daytime tiredness, and average sleep time

[2019-02-13 15:34] lenasong commented on #18
@huntallcott @michael-butler1994 great. Couple of additional thoughts:
- measuring distraction: one particular measure could be distraction during survey-taking time. We could ask people to complete the survey on their computer and 1) measure how much they use other sites on the browser or other apps on their phone during the survey 2) ask where their phone is located (on them, within arm's reach,

[2019-02-13 16:14] huntallcott commented on #13
@lenasong,
I just pushed a revision to the model.
1. I redefined the utility function so that beta and betahat are the standard Laibson notation. I had defined them differently and then confused myself. Some of my lyx comments should now be clearer.
2. I also redefined utility in a way such that long-run demand is a parallel shift from present self's demand. This should make the equations easier,

[2019-02-14 15:07] lenasong commented on #13
@huntallcott thanks for the helpful comments! We now have a clean identification of betahat and naivete in this simple set-up with parallel demand lines. Here's the updated [identification file](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf).

[2019-02-14 15:36] huntallcott commented on #13
Great, thanks Lena! That's perfect. I just made some additional minor comments and pushed to the master. (I suggest you check out the diff from my latest commit.)

@gentzkow can you now take a look at this thread starting from my post [above](https://github.com/huntallcott/PhoneAddiction/issues/13#issuecomment-462824798)?

[2019-02-15 06:36] gentzkow commented on #13
Yes. Thanks for the further thoughts and the revisions. Sounds like we agree about much of this. A few things still to resolve.

I still don't see that. I don't see why having a monetary price is different from a delay price. In both cases the subject can always choose not to set any blockers at all. Therefore they should not affect the behavior of a fully rational agent. In both cases for a non-r

[2019-02-15 13:54] huntallcott commented on #13
* Aside: I think we are going to need a dynamic model either way, due to the habit formation piece.
* Lena: would you be willing to develop the non-linear price part of the model, using the sketch that I wrote in to the identification doc, section III.C? Hopefully it won’t be too hard. We can start with the model for the Subsidy Demand condition and then see if it looks easy to even extend it to m

[2019-02-15 16:15] lenasong commented on #13
Great. I'll start working on the non-linear price model and @michael-butler1994 and I will figure out the technical specs with Chris.

[2019-02-15 16:40] lenasong commented on #14
@michael-butler1994 I've started drafting a [list of features](https://docs.google.com/document/d/1l8fUQVNESrR0DGSL2sQ_wr0ZbaArfS4A1ZhalFnvmX4/edit?usp=sharing) for the blocker as per our discussion in #13. Take a look and let's send it to Chris to start developing this function.

[2019-02-15 20:20] michael-butler1994 commented on #18
@huntallcott

- **Measuring Distraction**: I've begun a [doc](https://docs.google.com/document/d/16ykQ4axZJotxsVTBGWfC-UYcU-nWKnfOLzmDnokFMkw/edit) to dive deeper into possible strategies for measuring distraction. It would help to test a few of these ideas in the next pilot. For example, we could survey participants to develop personalized lists of productive and unproductive website domains (I f

[2019-02-15 23:16] lenasong commented on #17
@michael-butler1994 @huntallcott @gentzkow thanks for the comments in #18.

For the next step of incorporating these into our design and writing out exact questions, I made a list in the [experiment design](https://docs.google.com/document/d/1WH9EAjsdJhLjE0jzieUN4UgSiaR3ug8kdIgyjVhBfGw/edit#) document of survey instruments we need to add.

@michael-butler1994 it'd be great if you can take the lead

[2019-02-16 00:22] huntallcott commented on #18
@michael-butler1994, I just left a few comments. Thanks for doing this.
The general reaction I have is that I think we want to focus this on (i) figuring out the times when people don't want to be distracted and (ii) measuring distraction using *phone* pickups or usage during those times. I think we'll have less power to detect effects on judicious use of the web browser given that we're not incen

[2019-02-20 21:30] michael-butler1994 commented on #18
@huntallcott thanks for the feedback. I've incorporated your thoughts into the [doc ](https://docs.google.com/document/d/16ykQ4axZJotxsVTBGWfC-UYcU-nWKnfOLzmDnokFMkw/edit). After conducting a small lit review of studies that attempt to measure distraction while working/studying, I'm not terribly confident that we'll be able to identify study periods with the browser history data, but we can at lea

[2019-02-20 21:50] michael-butler1994 commented on #14
@huntallcott @lenasong @gentzkow Chris is working to develop the app with hard controls/snooze button/delayed snooze button by 2/25. Here's the exact [list of features](https://docs.google.com/document/d/1l8fUQVNESrR0DGSL2sQ_wr0ZbaArfS4A1ZhalFnvmX4/edit) we gave him. Once he's developed the app, I think Lena and I should spend a few days testing it, and afterwards, I think we should begin recruiti

[2019-02-22 23:01] lenasong commented on #13
@huntallcott @gentzkow
I started working on an extension with nonlinear pricing (Section IV.C). From thinking about this and the discussion @michael-butler1994 and I had while drafting the technical specification for the blocker, I have a few questions:
- have we agreed on not modeling the blocker? How should we think about the blocker relative to the subsidy? There are measurement differences bet

[2019-02-23 00:41] michael-butler1994 commented on #17
@lenasong @gentzkow @huntallcott
I've drafted a [baseline survey instrument](https://docs.google.com/document/d/1zb_x73LLjkU-TqPGcUHrS6ULYx-dPwCxV23nkPo4yCA/edit#heading=h.3c0zj3dbbljw) covering everything except Belief Elicitation and the MPL. I also did not include survey questions we may ask participants _during_ the baseline (e.g. keeping a sleep diary). It would be great to get some feedback!

[2019-02-24 03:56] huntallcott commented on #13
Great Lena this is fantastic!
1. Equation (14) should have a betahat, not a beta, on the RHS, right?
2. @gentzkow, are you OK with this? (i) remember that this requires the strong assumption that there are no dynamics within the period, i.e. that at the beginning of the three-week incentive period you immediately know your value of \xi. I’m OK with it but somebody at e.g. Ecma might not be. (ii) I

[2019-02-24 23:57] lenasong commented on #13
@huntallcott thanks for the feedback! I'm updating the [identification file](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf) with the typo corrected and an added section on deriving beta.

Also added the question on "how much do you think you would restrict your use of social media apps" to [baseline instrument](https://docs.google.com/document/d/1

[2019-02-25 00:08] lenasong commented on #17
@michael-butler1994 thanks, this is awesome! I've made some edits and added a few comments. I also highlighted some questions that I think would be helpful to test out in the next pilot. @gentzkow @huntallcott take a look and let us know what you think.

[2019-02-25 16:37] huntallcott commented on #13
@lenasong great. Comments:
1. Let me know when you're done deriving beta and the demand slope. To be clear: (i) by "demand slope", I mean the structural parameter \omega, and (ii) we want these in terms of observable data, so equation (21) in your commit from last night isn't operationalizable yet. Thanks for working on this.
2. On your "clarification question" regarding the Phone Dashboard. I thi

[2019-02-25 18:01] huntallcott commented on #17
@michael-butler1994 thanks for putting this together. I just left you a bunch of comments.

@gentzkow should also review as soon as he gets to this.

One general theme is that I think we want to have in mind how this will map into a pre-analysis plan. There are only three types of questions:
* Outcomes
* Basic demographics for weighting and/or stratification
* Moderators
And the latter two categor

[2019-02-26 16:07] huntallcott commented on #13
@lenasong per your email I have pushed some additional calculations on non-linear pricing. Take a look at what I did and the comments I left? I think we're close.

[2019-02-27 02:32] michael-butler1994 commented on #17
@huntallcott thanks for all the feedback! I implemented nearly all of your edits/suggestions as track changes. I replied to your comments when I hesitated to implement your suggestions.

[2019-02-27 22:26] lenasong commented on #14
Chris sent us the first release of Phone Dashboard and @michael-butler1994 and I are testing it now. Good news - the blocker works!

There's a 5 second window before blocker kicks in as mentioned - we'll see if we can shorten that and sort out several other technical issues with Chris on a call tomorrow.

Here's how the app will work once we sort everything out:
- each participant will be assigned

[2019-02-28 19:21] michael-butler1994 commented on #14
@gentzkow @huntallcott We spoke with Chris this morning about a few next steps.

Chris aims to get the following done this weekend:
 - Implement the snooze and delayed snooze button functionality.
 - Refine the main UI so the user can see avg daily use stats by app and in total for: Today, The Last 7 Days, the current treatment period
 - Implement notifications when the user is 5 and 1 minutes awa

[2019-03-01 15:58] huntallcott commented on #14
Great. Amazing that Chris is making this happen. Thanks to both of you for pushing this forward.
1. Just to confirm: we want to be able to turn on the blocker functionality only for a *subset* of users, *after* the app has been downloaded. Tangibly, I think that when we send out the midline survey invite (which is the first point of random assignment), we also turn on the blocker functionality for

[2019-03-01 16:04] huntallcott commented on #17
* @michael-butler1994 many thanks.
* @lenasong: can you take a stab at the hypothetical MPL text and belief elicitation text? (Remembering that we are doing hypothetical payments at baseline, but we want the text to parallel the actual payment text that we'll use in the two midlines.)
* @gentzkow can you take a look at the survey questions when you have a moment?

* I think a key next step here is

[2019-03-04 13:30] lenasong commented on #17
@michael-butler1994 @huntallcott @gentzkow I added text for MPL and belief elicitation in our [survey instrument ](https://docs.google.com/document/d/1zb_x73LLjkU-TqPGcUHrS6ULYx-dPwCxV23nkPo4yCA/edit?ts=5c7958ba#)file. It's organized by topic and includes text variations for both baseline and midlines. I also drafted in-app text to outline how Phone Dashboard would look.

Take a look? I left some

[2019-03-04 13:51] lenasong commented on #14
@huntallcott
1. yes, we are asking Chris to design dynamic configurations so the blocker functionality can be turned on any time after the app has been downloaded

2. and 3. for in-app limit setting, we could have a list of commonly used apps by the user (excluding essential apps like Phone or Settings), and the user can enter limits for any of these apps. Will check if user can input any daily us

[2019-03-05 22:32] huntallcott commented on #17
@lenasong!
Thanks for your work on the survey!
I left some comments and suggestions. In addition:
1. Will we observe the list of all apps the user has, from Pennyworth? That would be nice because then we have a non-self-report list of whether they have other blocking functionality.
2. @gentzkow: I realized I’m a bit confused about how the Costly Snooze Button will work, given that we decided that

[2019-03-07 03:02] lenasong commented on #13
@huntallcott thanks for your very helpful comments! We are close - take a look at my updates in sections IV.B.1-3 [here](https://github.com/huntallcott/PhoneAddiction/blob/master/paper/release/PhoneAddiction_Model.pdf).

I worked out identifying demand slope, naivete and cleaned up notations in the nonlinear pricing section. I want to highlight the demand for commitment section again - see Equatio

[2019-03-07 05:52] gentzkow commented on #17
@lenasong @michael-butler1994 @huntallcott Apologies for the *very* slow reply here and on some other threads. Thanks for the great work on this so far.

I've read through the [survey instrument](https://docs.google.com/document/d/1zb_x73LLjkU-TqPGcUHrS6ULYx-dPwCxV23nkPo4yCA/edit?ts=5c7958ba#) and re-read the [experimental design doc](https://docs.google.com/document/d/1WH9EAjsdJhLjE0jzieUN4UgSiaR

[2019-03-07 06:04] gentzkow commented on #17
@huntallcott On the snooze question [here](https://github.com/huntallcott/PhoneAddiction/issues/17#issuecomment-469885145), I had initially imagined we would give this only to people in the Screen Time Reduction Incentive group so hitting the snooze button would be similar to getting charge extra minutes of use. But I do like the idea of cross-randomizing this so we get some people with the blocke

[2019-03-07 06:11] gentzkow commented on #14
Thanks all. This is great progress.

I agree that the basic setup sounds right. I agree with no notification when delay is over.

Are we sure we don't want to allow people to vary their app limits during the experiment (e.g., as @huntallcott suggested for post-experiment, where you can modify your limit today to take effect tomorrow)? There are definitely cons of this -- e.g., it makes the limits

[2019-03-07 06:19] gentzkow commented on #13
@lenasong @huntallcott I still haven't had a time to go back through the nonlinear pricing part of the identification doc carefully but the basic outlines look good. To respond to @huntallcott's original question [here](https://github.com/huntallcott/PhoneAddiction/issues/13#issuecomment-466731489), I am definitely fine with the model being quite stylized in this way and ignoring within-period dyn

[2019-03-07 21:14] huntallcott commented on #13
@lenasong ,
I think this is just tremendous work.
I especially like how you recognized that g_1(0,betahat) is impossible to observe, and came up with a creative solution to get rid of it between Equation 21 and Equation 22.
As to Matt's key question about how much we need to avoid the non-linear price: I have the general intuition that we want to err on the side of setting the baseline pretty gene

[2019-03-07 21:14] #13 closed

[2019-03-07 23:26] huntallcott commented on #17
RE: costly snooze button. Great, the $20 budget sounds great. Incidentally, I think we should look at this in the pilot and see if how we can use for estimation and/or if it's really interesting descriptively. If this is still just a descriptive treatment (i.e. one that is neat but we're not using it to estimate betahat and beta) by the time we get to the final experiment, I might vote we should k

[2019-03-07 23:28] huntallcott commented on #14
Agree with @gentzkow that it would be good for the users to be able to modify limit today to take effect tomorrow, at any point in the experiment. I meant to say that above and agree with Matt.

[2019-03-08 01:14] lenasong commented on #17
@huntallcott @michael-butler1994 @gentzkow thanks for great feedback.

Yes I can work on the summary of variables. As part of this, I'll also clean up and edit the [survey instruments](https://docs.google.com/document/d/1zb_x73LLjkU-TqPGcUHrS6ULYx-dPwCxV23nkPo4yCA/edit?ts=5c7958ba#) this weekend. @michael-butler1994 @huntallcott if you have time before that, can you take a look at our new comments

[2019-03-13 02:41] lenasong commented on #17
This is going to be a long post - apologies in advance.

1. I've drafted a [list of variables](https://docs.google.com/document/d/1c3Qikp2eb_-luDiPZbQQ7qaOJQFdJftbVD_x2EI663U/edit#heading=h.jrm7qskrg35v) that summarizes the families of variables. I'm erring on the side of completeness - feel free to make any edits and suggestions.

2. @michael-butler1994 @gentzkow @huntallcott I reviewed the comme

[2019-03-13 15:43] lenasong opened #19 "Pilot3 Management"
@gentzkow @huntallcott @michael-butler1994
Starting this issue to discuss logistics for pilot3, which will be used to test:
- Phone Dashboard and its various configurations
- cost of recruitment more generally via Facebook
- new survey instruments

We are waiting for a new app release from Chris within the next couple of days which @michael-butler1994 and I can then test. We can also start coding

[2019-03-15 13:50] huntallcott commented on #17
@lenasong this is great work on the list of variables and groupings. I left a bunch of comments in that doc. Can you take a look and implement?
One other comment: I don’t think we should have the detailed instrument file. Let’s just have your list of variables and the survey instrument docs. It seems like the detailed instrument file just duplicates the info in those other google docs. In the surv

[2019-03-15 14:50] huntallcott commented on #19
Thanks much Lena!
1. In terms of recruitment, I think we want to do the same recruitment process we plan for the main experiment. I don't think there is any per-school marginal cost, right (?), given that we are planning on recruiting through FB and Instagram ads?
2. So you're saying we want to start recruiting tomorrow, and deliver baseline on Sunday the 24th? I'm OK with that if we think that (i

[2019-03-15 20:47] gentzkow commented on #19
Thanks Lena! I also agree that the timeline sounds good. I am happy to prioritize providing timely input so we get the survey instrument ready in time.

[2019-03-16 12:06] huntallcott commented on #17
@lenasong, I continue to apologize for my delay.
Point 2 of your post above had a bunch of really interesting bullet point questions. Below, I respond to those bullets, in order.
* Unofficial transcript request. I think we can do this at baseline, and then again at post-endline. In terms of self-reported GPA: the outcome variable is current-semester GPA. Most people don’t know that, so they’d have

[2019-03-16 16:30] gentzkow commented on #17
Thanks @lenasong! I also apologize for the slow reply here.

I've looked over the survey instrument and the replies / changes based on my earlier comments. All look good. Only two things to flag:

* I continue to wonder about q11 "Aside from Facebook, ESPN, Instagram etc (list will become more comprehensive), what websites do you browse when you procrastinate?" It seems to me hard to answer and I'

[2019-03-16 16:48] gentzkow commented on #17
@lenasong I've now reviewed the [list of variables](https://docs.google.com/document/d/1c3Qikp2eb_-luDiPZbQQ7qaOJQFdJftbVD_x2EI663U/edit#heading=h.jrm7qskrg35v). This is great. I added a small number of comments.

One thing I'd just reiterate is that we want to make sure we're being systematic about which questions we ask in terms of "In the last 3 weeks." We should also think about which if any w

[2019-03-16 16:49] gentzkow commented on #18
@huntallcott @michael-butler1994 @lenasong What is the status of this task? Seems like it may be subsumed in #17. If so, we should wrap it up with a summary comment and close.

[2019-03-17 02:05] lenasong commented on #19
@gentzkow @huntallcott many thanks for the valuable input. I've taken a quick look and will implement the changes tomorrow.

Chris is running late on the apps but promised to deliver by tomorrow. We will have a better sense whether we need an extra week then.

To prepare for recruitment,
- @michael-butler1994 can you help update the [consent form](https://www.dropbox.com/s/ek8vt7dzznrn4gn/Consent%

[2019-03-17 21:22] #16 closed

[2019-03-19 01:19] huntallcott commented on #19
@lenasong, great, thank you.
* In terms of number of people, 250 is OK but maybe a few more than we need. I’d be OK with 200 or even 150.
* I think now would be a good time to get this IRB approved at Stanford. @gentzkow, I think you could nominate an RA with Stanford affiliation to do this for you, and Lena/Michael can forward the right materials? This should be opened up as a separate issue.

[2019-03-19 16:02] lenasong commented on #17
@huntallcott @gentzkow @michael-butler1994 I've reviewed and responded to everyone's edits and comments within the Google docs - let me know if I missed anything.

@huntallcott rounding up of baseline usage sounds great. I will link the [list of variables](https://docs.google.com/document/d/1c3Qikp2eb_-luDiPZbQQ7qaOJQFdJftbVD_x2EI663U/edit?ts=5c8ba346#heading=h.jrm7qskrg35v) to [survey instrument]

[2019-03-19 16:16] gentzkow commented on #19
@huntallcott
I think @jcconway can take charge of the IRB. I'll send him an email cc'ing you. You can then add him to this repo and open the relevant issue.

[2019-03-19 16:19] lenasong commented on #19
@huntallcott sounds good.

Quick update: @michael-butler1994 and I have been working closely with Chris on the app design and specifications. We reviewed an earlier version yesterday and Chris is planning to deliver Phone Dashboard beta by tonight and browser plug-in by Thursday night. If this version we receive tonight is fully functional, we are on-schedule for sending out the baseline this Sund

[2019-03-19 16:23] jcconway commented on #19
I'm confirming that I'm happy to take charge on the Stanford IRB process!

[2019-03-19 16:27] gentzkow commented on #17
Sounds great. Thanks!

[2019-03-19 19:38] lenasong commented on #8
@jcconway Great to meet you Jacob.

A quick overview of our plan here: we have an approved NYU IRB for an earlier design. We are working on getting the survey instruments coded for a revamped design - export from Qualtrics would probably be the cleanest way to present these.

We'll have most of the relevant documents by early next week. I'll let you know when they are ready.

[2019-03-19 21:07] jcconway commented on #8
@lenasong it's great to meet you too! Thanks for the overview and I look forward to pushing the Stanford IRB process forward. A couple of quick questions:
1. Are there any specific deadlines/goals that I should be aware of for the Stanford IRB approval?
2. Can you share the previous NYU IRB submission and approval, or the PhoneAddiction Dropbox more broadly? That should allow me to start the Stanf

[2019-03-20 14:43] huntallcott commented on #17
Great. One comment is that it would be good to have one variable name in stata, qualtrics, and these survey instruments. So Michael please use the names I suggested so far and perhaps a similar style for the additional names.

[2019-03-20 14:50] lenasong commented on #19
@huntallcott @gentzkow we received an [app update](https://play.google.com/store/apps/details?id=com.audacious_software.phone_dashboard) from Chris that includes all basic functions (blocking, limit setting and snooze). However, it still needs a couple more iterations. Unless either of you have a strong preference for starting this Sunday, I would recommend that we start recruitment this Sunday an

[2019-03-20 15:03] huntallcott commented on #19
OK, sound good to wait. Thanks.

[2019-03-20 15:16] lenasong commented on #8
@jcconway I'm not aware of any particular deadlines.

The old NYU IRB application is saved under GitHub\PhoneAddiction\docs\IRB\NYU\2018. It's based on a design significantly different in data collection process so a large chunk of the document isn't going to be relevant. If you think it'd be helpful, we should chat at some point next week after we get our pilot3 off the ground. I can walk you thr

[2019-03-20 15:24] gentzkow commented on #19
Good by me too.

[2019-03-20 15:25] #11 closed

[2019-03-20 15:30] lenasong commented on #18
thanks everyone for your feedback. The finalized outcomes are listed in the [variable list](https://docs.google.com/document/d/1c3Qikp2eb_-luDiPZbQQ7qaOJQFdJftbVD_x2EI663U/edit?ts=5c8ba346#heading=h.jrm7qskrg35v) and those on the surveys are expanded into [detailed survey instruments](https://docs.google.com/document/d/1zb_x73LLjkU-TqPGcUHrS6ULYx-dPwCxV23nkPo4yCA/edit?disco=AAAACvTKkh4&ts=5c913465

[2019-03-20 15:30] #18 closed

[2019-03-20 15:31] lenasong commented on #14
@michael-butler1994 and I are working with Chris towards Phone Dashboard beta. Will share screenshots on what the app looks like when it's ready.

[2019-03-20 15:37] lenasong commented on #3
@KellyBuckley thanks for the lit review! Our final SWB questions are incorporated in [survey instrument](https://docs.google.com/document/d/1zb_x73LLjkU-TqPGcUHrS6ULYx-dPwCxV23nkPo4yCA/edit?ts=5c913465).

[2019-03-20 15:37] #3 closed

[2019-03-20 15:38] lenasong commented on #6
We will measure academic performance via 1) self-reported current term GPA at baseline and endline 2) unofficial transcript upload at baseline and post-endline.

[2019-03-20 15:38] #6 closed

[2019-03-20 15:40] lenasong commented on #5
Google ads are found to be completely ineffective. We are recruiting for pilot3 using facebook/instagram ad, targeting by age, education ("in-college"), and android users.

[2019-03-20 15:40] #5 closed

[2019-03-20 15:45] jcconway commented on #8
Thanks @lenasong! I'll start filling out the IRB documents using these previous versions as a guide, but will wait for the updated survey instruments before submitting. I should have a better idea of my remaining questions then, and would be happy to chat next week if this seems most efficient.

[2019-03-20 18:19] michael-butler1994 commented on #17
@huntallcott sounds good. To maintain consistency, I may have to shorten some of your proposed variable names. stata has a 32 character limit on names and I'll need to add prefixes (e.g. "baseline_") to the key outcome variables.

[2019-03-27 00:41] michael-butler1994 commented on #19
@huntallcott @gentzkow Happy Pilot Launch Eve!! @lenasong and I are planning to launch the Facebook ads tomorrow early afternoon, which will contain a link to the following [short recruitment survey.](https://nyu.qualtrics.com/jfe/form/SV_0JLs8vQ8v3snk8t)

The ads will target anyone in the US, age 18-25 that have indicated that their highest level of education is “in college”. The ad will also tar

[2019-03-27 01:09] michael-butler1994 commented on #19
Update: I plan to make the following revisions: 1) the ad will be from "NYU Stanford Research Project", 2) in the ad description, I'll write "student life" instead of "phone use".

In an interesting twist, Facebook thinks i'm a robot because I created a new facebook account to create the ads. Hopefully this will resolve itself by tomorrow morning. If not, maybe @lenasong can make the ads. They tak

[2019-03-27 01:10] gentzkow commented on #19
Great! I was going to suggest changing "phone use"... you're too fast!

[2019-03-27 14:33] michael-butler1994 opened #20 "Pilot3 Recruitment Ad"
@lenasong Here are the specs I would recommend for the recruitment ad:
 - Use the filters described [here](https://github.com/huntallcott/PhoneAddiction/issues/19#issuecomment-476913178)
 - Use the pictures below
 - drop "phone use" in the ad text

![chatting-cups-dog-745045](https://user-images.githubusercontent.com/35438895/55084424-8d19f980-507b-11e9-8adf-03e1fba8a2c8.jpg)
![backpacks-college-c

[2019-03-27 15:49] huntallcott commented on #19
@michael-butler1994 @lenasong thanks much.
Three things:
1. First page: Why do we need to know from where you heard about the study? Does qualtrics not record the referring url? (I think it might because on FB study we were able to somehow identify people who came from Reddit.)
2. The open-answer college names is going to be a pain, especially for the main experiment. Eventually I think we'll want

[2019-03-27 18:48] michael-butler1994 commented on #19
@huntallcott @gentzkow thanks for the feedback!
1. I couldn't find anything in Qualtrics that supports that. I will double check with Sarah and Luca.
2. Good point. If we have time before tomorrow 10 am (new launch time), we're going to figure out how to preload a searchable dropdown question for users to select their college.
3. You can enter a fake app code to continue the survey. We also just s

[2019-03-28 02:08] lenasong commented on #20
thanks @michael-butler1994!
Here's one of the ads (there are 5 other ones with different photos):
![image](https://user-images.githubusercontent.com/38102116/55123842-8cfd1680-50da-11e9-8a21-f04ac2fed174.png)

[2019-03-28 02:08] #20 closed

[2019-03-28 02:30] lenasong commented on #19
We are all set for recruitment. I've set up the ads under my personal account so hopefully facebook recognizes that I am not a robot.

@huntallcott @gentzkow a quick overview of the recruitment process:
- potential participant clicks our facebook ad and gets redirected to our qualtrics survey
- survey starts with a few quick eligibility checks (age, android user, college student, in the US)
- once

[2019-03-28 12:07] huntallcott commented on #19
Great, thank you! Looks good.
Please let us know on the other issue thread when we should review the baseline survey. Sounds like you'll send it to Daniela et al. first?

[2019-03-28 18:56] huntallcott commented on #17
@michael-butler1994 @gentzkow @lenasong one quick question,
I was just talking with Nancy Baym, the qualitative researcher at Microsoft, and she is a much bigger fan of the in-the-moment happiness questions from the FB paper than she is with retrospective questions.
I'm also wondering if we should expect that much differential response rate to text messages between our Incentive and Control groups

[2019-03-28 19:08] lenasong commented on #17
@huntallcott from our conversations earlier it seemed that text messaging didn't work well for SocialMediaEffects? @michael-butler1994 and I are planning to ask happiness questions randomly throughout the study, sent via their preferred email address that must be answered within 24 hours. Do you expect SMS responses to be significantly better than email or very short surveys?

[2019-03-28 19:24] huntallcott commented on #17
I think Nancy's idea is that the in-the-moment part of experience sampling is more credible than even 24-hour retrospection, although certainly both more credible than retrospection over the past 3-4 weeks.
The text messaging worked fine for SocialMediaEffects as far as I can see. The concern we had here was about higher non-response in the Incentive group. I'm just now wondering if we should test

[2019-03-28 21:25] lenasong opened #21 "Pilot3 Baseline Qualtrics Survey"
@gentzkow @huntallcott the [baseline survey](https://nyu.ca1.qualtrics.com/jfe/preview/SV_8wwy5CfuARAR673?Q_SurveyVersionID=current&Q_CHL=preview) is ready for review - take a look. @michael-butler1994  thanks for the countless hours you've put into this.

Some comments/questions:
- @gentzkow many thanks for getting Daniela and Zane to help. They provided valuable feedback for the social media que

[2019-03-28 21:55] lenasong commented on #21
If you would like to test out the Web Extension (we have an extra security check - user must have the app-generated ID from the phone app in order to use the chrome extension), you can enter my code 13406567

[2019-03-28 22:12] gentzkow commented on #17
I would say the text messaging worked *great* in SocialMediaEffects. It's one of my favorite parts of the study, and we've gotten a lot of positive feedback about it. It's one of the few components that feels like more than a regular self report (even though it's of course self reported in some sense). I think we should for sure include it in this study if we can.

A key to it working well was hig

[2019-03-28 23:05] gentzkow commented on #21
@lenasong @michael-butler1994 Thanks!

Based on a quick, my reaction is that we've made a lot of good progress, but we're still a fair distance away from this being ready to roll out. It looks pretty rough in places and there are some important issues. I think we want to take our time to keep refining and do enough rounds of review that we're very confident we've got it right.

Here is an initial

[2019-03-29 00:38] lenasong commented on #17
Not too late at all! Will add this to the baseline survey.

[2019-03-29 02:48] lenasong commented on #19
Quick update on recruitment, we have:
- 21,497 impressions
- 1196 clicks
- 665 recruitment survey responses (this includes lots of people who are ineligible for the study, e.g. iPhone users)
- 67 people who already installed Phone Dashboard

Per @gentzkow's point on credibility [here](https://github.com/huntallcott/PhoneAddiction/issues/21#issuecomment-477802767), I added the full consent form bef

[2019-03-29 03:30] lenasong commented on #14
Below is a quick demo of Phone Dashboard and what participants will see from now until midline 1.

A full set of screenshots are saved under \GitHub\PhoneAddiction\docs\logistics\app content. All functions including limit setting and snooze are built-in and currently hidden away. We'll work on testing these additional functions after baseline and send a demo update when we have a stable version.

[2019-03-29 05:43] lenasong commented on #21
thanks @gentzkow! I updated the [baseline](https://nyu.ca1.qualtrics.com/jfe/preview/SV_8wwy5CfuARAR673?Q_SurveyVersionID=current&Q_CHL=preview) addressing most of your comments.

A few comments on the big issues:
- the current set-up allows participants to fill out the recruitment survey on any device, but recommends that they fill out baseline survey using a laptop because 1) there are several b

[2019-03-29 13:59] michael-butler1994 commented on #21
@gentzkow @lenasong
I have a few thoughts on the bigger issues:
 - On a call a few months ago, Matt suggested that we pitch the study to participants as a way to learn more about their phone use and productivity habits. Perhaps at the end of the study, we could generate some personalized automated report for each participant that summarizes their phone use behaviors. Along this line, what if we ma

[2019-03-29 15:11] huntallcott commented on #21
Hi all-
i. I left some comments in the baseline survey instrument. @michael-butler1994 @lenasong take a look at those? I did not finish but will get back on this after lunch.
ii. I noticed places where the text of a question was not transferred correctly to Qualtrics, and in the ListofVariables google doc. I do think we want all three of these documents (Qualtrics, the Survey Instruments  (which h

[2019-03-29 15:12] gentzkow commented on #21
Thanks all.

One further thought on distraction: I think we can get a pretty good measure of this just by comparing day time weekday hours to other hours. Students will be busy much of that time, and I doubt we will have much precision trying to cut things more finely.

[2019-03-29 15:55] gentzkow commented on #14
The interface looks great @lenasong. Can you clarify a bit more what people can do on the settings page? I wasn't sure what "Refresh Study Configuration" and "Data Actions" mean.

Per my earlier comments I think the big issue is going to be just making it feel safe to people.